Repository mongodb/mongodb-atlas-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/mongocli, @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team

.github/CODEOWNERS:

# Maintained by the MongoDB CLI team
*       @mongodb/mongocli

# Docs maintained by Docs Cloud Team
/docs/  @mongodb/docs-cloud-team

/internal/kubernetes/operator/ @mongodb/atlas_kubernetes_team
/internal/cli/atlas/kubernetes/ @mongodb/atlas_kubernetes_team

Got rid of config.toolname & toolname in ci
  Makefile
  build/ci/evergreen.yml
  build/ci/release.yml
  build/package/.goreleaser.yml
  build/package/curator-push.sh
  build/package/docker/docker-build.sh
  build/package/download-win-binaries.sh
  build/package/generate-download-archive-manifest.sh
  build/package/generate-msi.sh
  build/package/package.sh
  build/package/rename-pkg.sh
  build/package/send-slack-notification.sh
  docs/command/mongocli-auth-login.txt
  internal/cli/auth/login.go
  internal/cli/auth/login_test.go
  internal/cli/config/config.go
  internal/cli/root/mongocli/builder.go
  internal/cli/root/mongocli/builder_test.go
  internal/config/profile.go
  internal/latestrelease/finder.go
  internal/latestrelease/finder_test.go
  internal/mocks/mock_release_version.go
  internal/usage/usage.go
  internal/version/release_version.go
  tools/genevergreen/generate/generate_test.go
Owners: @mongodb/mongocli, @mongodb/docs-cloud-team

Made parameter to genevergreen static
  build/ci/evergreen-generate-tasks.sh
Owners: @mongodb/mongocli

task: clean up unused om org select
  internal/prompt/config.go
Owners: @mongodb/mongocli

pointers
  internal/cli/default_setter_opts.go
  internal/cli/default_setter_opts_test.go
Owners: @mongodb/mongocli

CLOUDP-236422: [mongocli] remove toolname (#2731)
  Makefile
  build/ci/evergreen-generate-tasks.sh
  build/ci/evergreen.yml
  build/ci/release.yml
  build/package/.goreleaser.yml
  build/package/curator-push.sh
  build/package/docker/docker-build.sh
  build/package/download-win-binaries.sh
  build/package/generate-download-archive-manifest.sh
  build/package/generate-msi.sh
  build/package/package.sh
  build/package/rename-pkg.sh
  build/package/send-slack-notification.sh
  docs/command/mongocli-auth-login.txt
  internal/cli/auth/login.go
  internal/cli/auth/login_test.go
  internal/cli/config/config.go
  internal/cli/root/mongocli/builder.go
  internal/cli/root/mongocli/builder_test.go
  internal/config/profile.go
  internal/latestrelease/finder.go
  internal/latestrelease/finder_test.go
  internal/mocks/mock_release_version.go
  internal/usage/usage.go
  internal/version/release_version.go
  tools/genevergreen/generate/generate_test.go
Owners: @mongodb/mongocli, @mongodb/docs-cloud-team

task: clean up unused om org select (#2735)
  internal/cli/default_setter_opts.go
  internal/cli/default_setter_opts_test.go
  internal/prompt/config.go
Owners: @mongodb/mongocli

task: unification of the stores part 3 (#2734)
  internal/cli/atlas/backup/compliancepolicy/copyprotection/disable.go
  internal/cli/atlas/backup/compliancepolicy/copyprotection/disable_test.go
  internal/cli/atlas/backup/compliancepolicy/copyprotection/enable.go
  internal/cli/atlas/backup/compliancepolicy/copyprotection/enable_test.go
  internal/cli/atlas/backup/compliancepolicy/describe.go
  internal/cli/atlas/backup/compliancepolicy/describe_test.go
  internal/cli/atlas/backup/compliancepolicy/enable.go
  internal/cli/atlas/backup/compliancepolicy/enable_test.go
  internal/cli/atlas/backup/compliancepolicy/encryptionatrest/disable.go
  internal/cli/atlas/backup/compliancepolicy/encryptionatrest/disable_test.go
  internal/cli/atlas/backup/compliancepolicy/encryptionatrest/enable.go
  internal/cli/atlas/backup/compliancepolicy/encryptionatrest/enable_test.go
  internal/cli/atlas/backup/compliancepolicy/pointintimerestore/enable.go
  internal/cli/atlas/backup/compliancepolicy/pointintimerestore/enable_test.go
  internal/cli/atlas/backup/compliancepolicy/policies/describe.go
  internal/cli/atlas/backup/compliancepolicy/policies/describe_test.go
  internal/cli/atlas/backup/compliancepolicy/policies/ondemand/create.go
  internal/cli/atlas/backup/compliancepolicy/policies/ondemand/create_test.go
  internal/cli/atlas/backup/compliancepolicy/policies/ondemand/describe.go
  internal/cli/atlas/backup/compliancepolicy/policies/ondemand/describe_test.go
  internal/cli/atlas/backup/compliancepolicy/policies/scheduled/create.go
  internal/cli/atlas/backup/compliancepolicy/policies/scheduled/create_test.go
  internal/cli/atlas/backup/compliancepolicy/policies/scheduled/describe.go
  internal/cli/atlas/backup/compliancepolicy/policies/scheduled/describe_test.go
  internal/cli/atlas/backup/compliancepolicy/setup.go
  internal/cli/atlas/backup/compliancepolicy/setup_test.go
  internal/cli/atlas/organizations/apikeys/accesslists/create.go
  internal/cli/atlas/organizations/apikeys/accesslists/create_test.go
  internal/cli/atlas/organizations/apikeys/accesslists/delete.go
  internal/cli/atlas/organizations/apikeys/accesslists/delete_test.go
  internal/cli/atlas/organizations/apikeys/accesslists/list.go
  internal/cli/atlas/organizations/apikeys/accesslists/list_test.go
  internal/mocks/mock_api_keys_access_list.go
  internal/mocks/mock_backup_compliance.go
  internal/store/api_keys_access_list.go
  internal/store/backup_compliance.go
Owners: @mongodb/mongocli

task: move the time parser to the convert package (#2733)
  internal/cli/atlas/accesslists/create.go
  internal/cli/atlas/alerts/acknowledge.go
  internal/cli/atlas/alerts/acknowledge_test.go
  internal/cli/atlas/alerts/describe.go
  internal/cli/atlas/alerts/describe_test.go
  internal/cli/atlas/alerts/list.go
  internal/cli/atlas/alerts/list_test.go
  internal/cli/atlas/alerts/unacknowledge.go
  internal/cli/atlas/alerts/unacknowledge_test.go
  internal/cli/atlas/datalakepipelines/availablesnapshots/list.go
  internal/cli/atlas/dbusers/create.go
  internal/cli/atlas/dbusers/update.go
  internal/cli/atlas/deployments/pause_test.go
  internal/cli/atlas/deployments/search/indexes/describe_test.go
  internal/cli/atlas/deployments/search/indexes/list_test.go
  internal/cli/atlas/deployments/start_test.go
  internal/cli/atlas/events/list.go
  internal/cli/atlas/events/orgs_list.go
  internal/cli/atlas/events/projects_list.go
  internal/cli/atlas/networking/peering/create/gcp.go
  internal/cli/atlas/setup/dbuser_setup.go
  internal/cli/metrics_opt.go
  internal/config/profile.go
  internal/convert/database_user.go
  internal/convert/database_user_test.go
  internal/convert/time.go
  internal/convert/time_test.go
  internal/mocks/mock_alerts.go
  internal/pointer/pointer.go
  internal/store/alerts.go
Owners: @mongodb/mongocli

update delete documentation for ipAddress
  docs/command/atlas-organizations-apiKeys-accessLists-delete.txt
  internal/cli/atlas/organizations/apikeys/accesslists/delete.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

chore: make linter to check for unused exported functions
  .github/workflows/code-health.yml
  Makefile
  tools/unused/cmd/linter/main.go
  tools/unused/go.mod
  tools/unused/go.sum
  tools/unused/internal/rules/notimported.go
  tools/unused/internal/rules/notimported_first_pass.go
  tools/unused/internal/rules/notimported_test.go
  tools/unused/internal/rules/rules.go
  tools/unused/internal/rules/testdata/go.mod
  tools/unused/internal/rules/testdata/imported/imported.go
  tools/unused/internal/rules/testdata/imported/imported_again.go
  tools/unused/internal/rules/testdata/notimported/notimported.go
Owners: @mongodb/mongocli

task: unify stores part 4
  internal/cli/atlas/performanceadvisor/namespaces/list.go
  internal/cli/atlas/performanceadvisor/namespaces/list_test.go
  internal/cli/atlas/performanceadvisor/slowoperationthreshold/disable.go
  internal/cli/atlas/performanceadvisor/slowoperationthreshold/disable_test.go
  internal/cli/atlas/performanceadvisor/slowoperationthreshold/enable.go
  internal/cli/atlas/performanceadvisor/slowoperationthreshold/enable_test.go
  internal/cli/atlas/performanceadvisor/slowquerylogs/list.go
  internal/cli/atlas/performanceadvisor/slowquerylogs/list_test.go
  internal/cli/atlas/performanceadvisor/suggestedindexes/list.go
  internal/cli/atlas/performanceadvisor/suggestedindexes/list_test.go
  internal/cli/atlas/projects/invitations/delete.go
  internal/cli/atlas/projects/invitations/delete_test.go
  internal/cli/atlas/projects/invitations/describe.go
  internal/cli/atlas/projects/invitations/describe_test.go
  internal/cli/atlas/projects/invitations/invite.go
  internal/cli/atlas/projects/invitations/invite_test.go
  internal/cli/atlas/projects/invitations/list.go
  internal/cli/atlas/projects/invitations/list_test.go
  internal/cli/atlas/projects/invitations/update.go
  internal/cli/atlas/projects/invitations/update_test.go
  internal/mocks/mock_performance_advisor.go
  internal/mocks/mock_project_invitations.go
  internal/store/performance_advisor.go
  internal/store/project_invitations.go
Owners: @mongodb/mongocli

task: unify stores part 4 (#2738)
  internal/cli/atlas/performanceadvisor/namespaces/list.go
  internal/cli/atlas/performanceadvisor/namespaces/list_test.go
  internal/cli/atlas/performanceadvisor/slowoperationthreshold/disable.go
  internal/cli/atlas/performanceadvisor/slowoperationthreshold/disable_test.go
  internal/cli/atlas/performanceadvisor/slowoperationthreshold/enable.go
  internal/cli/atlas/performanceadvisor/slowoperationthreshold/enable_test.go
  internal/cli/atlas/performanceadvisor/slowquerylogs/list.go
  internal/cli/atlas/performanceadvisor/slowquerylogs/list_test.go
  internal/cli/atlas/performanceadvisor/suggestedindexes/list.go
  internal/cli/atlas/performanceadvisor/suggestedindexes/list_test.go
  internal/cli/atlas/projects/invitations/delete.go
  internal/cli/atlas/projects/invitations/delete_test.go
  internal/cli/atlas/projects/invitations/describe.go
  internal/cli/atlas/projects/invitations/describe_test.go
  internal/cli/atlas/projects/invitations/invite.go
  internal/cli/atlas/projects/invitations/invite_test.go
  internal/cli/atlas/projects/invitations/list.go
  internal/cli/atlas/projects/invitations/list_test.go
  internal/cli/atlas/projects/invitations/update.go
  internal/cli/atlas/projects/invitations/update_test.go
  internal/mocks/mock_performance_advisor.go
  internal/mocks/mock_project_invitations.go
  internal/store/performance_advisor.go
  internal/store/project_invitations.go
Owners: @mongodb/mongocli

doc: Update delete documentation for entry in atlas-organizations-apiKeys-accessLists-delete (#2736)
  docs/command/atlas-organizations-apiKeys-accessLists-delete.txt
  internal/cli/atlas/organizations/apikeys/accesslists/delete.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

delete store
  internal/mocks/atlas/store.go
  internal/store/atlas/store.go
Owners: @mongodb/mongocli

task: update to go 1.22
  .tool-versions
  CONTRIBUTING.md
  build/ci/evergreen.yml
  build/ci/release.yml
  go.mod
Owners: @mongodb/mongocli

task: update to go 1.22 (#2740)
  .tool-versions
  CONTRIBUTING.md
  build/ci/evergreen.yml
  build/ci/release.yml
  go.mod
Owners: @mongodb/mongocli

CLOUDP-236543: Disable e2e_local_deployments
  build/ci/evergreen.yml
Owners: @mongodb/mongocli

Revert "CLOUDP-236543: Disable e2e_local_deployments"
  build/ci/evergreen.yml
Owners: @mongodb/mongocli

task: delete register from mongocli
  Makefile
  internal/cli/auth/register.go
  internal/cli/auth/register_test.go
Owners: @mongodb/mongocli

task: delete streams from mongocli
  internal/mocks/mock_streams.go
  internal/store/streams.go
Owners: @mongodb/mongocli

v2 client
  internal/store/store.go
Owners: @mongodb/mongocli

task: delete unused flags and descriptions
  .hadolint.yaml
  internal/flag/flags.go
  internal/usage/usage.go
Owners: @mongodb/mongocli

task: delete streams from mongocli (#2743)
  internal/mocks/mock_streams.go
  internal/store/store.go
  internal/store/streams.go
Owners: @mongodb/mongocli

task: delete register from mongocli (#2742)
  Makefile
  internal/cli/auth/register.go
  internal/cli/auth/register_test.go
Owners: @mongodb/mongocli

Update go.mod
  go.mod
Owners: @mongodb/mongocli

Update library_owners.json
  build/ci/library_owners.json
Owners: @mongodb/mongocli

more interfaces be gone
  internal/cli/iam/teams/users/add_test.go
  internal/cli/iam/users/invite.go
  internal/cli/iam/users/invite_test.go
  internal/mocks/mock_teams.go
  internal/mocks/mock_users.go
  internal/store/teams.go
  internal/store/users.go
Owners: @mongodb/mongocli

Update usage.go
  internal/usage/usage.go
Owners: @mongodb/mongocli

task: drop cloud encryption from mongocli
  build/ci/library_owners.json
  go.mod
  go.sum
  internal/decryption/decryption.go
  internal/decryption/encrypted_audit_log.go
  internal/decryption/key_provider_opts.go
  internal/decryption/keyproviders/aws.go
  internal/decryption/keyproviders/azure.go
  internal/decryption/keyproviders/gcp.go
  internal/decryption/keyproviders/key_provider.go
  internal/decryption/keyproviders/kmip.go
  internal/decryption/keyproviders/local_key.go
Owners: @mongodb/mongocli

CLOUDP-236543: Disable e2e_local_deployments (#2741)
  build/ci/evergreen.yml
Owners: @mongodb/mongocli

tas: go back to rhel80 for mongocli
  build/ci/evergreen.yml
Owners: @mongodb/mongocli

tas: go back to rhel80 for mongocli (#2747)
  build/ci/evergreen.yml
Owners: @mongodb/mongocli

task: delete unused flags and descriptions (#2744)
  .hadolint.yaml
  internal/flag/flags.go
  internal/usage/usage.go
Owners: @mongodb/mongocli

task: drop IsCloud since it shoudl always be false
  docs/command/mongocli-cloud-manager-performanceAdvisor-namespaces-list.txt
  docs/command/mongocli-cloud-manager-performanceAdvisor-slowQueryLogs-list.txt
  docs/command/mongocli-cloud-manager-performanceAdvisor-suggestedIndexes-list.txt
  docs/command/mongocli-ops-manager-performanceAdvisor-namespaces-list.txt
  docs/command/mongocli-ops-manager-performanceAdvisor-slowQueryLogs-list.txt
  docs/command/mongocli-ops-manager-performanceAdvisor-suggestedIndexes-list.txt
  internal/cli/default_setter_opts.go
  internal/cli/mongocli/performanceadvisor/namespaces/list.go
  internal/cli/mongocli/performanceadvisor/namespaces/list_test.go
  internal/cli/mongocli/performanceadvisor/slowquerylogs/list.go
  internal/cli/mongocli/performanceadvisor/slowquerylogs/list_test.go
  internal/cli/mongocli/performanceadvisor/suggestedindexes/list.go
  internal/cli/mongocli/performanceadvisor/suggestedindexes/list_test.go
  internal/cli/performance_advisor_opts.go
  internal/cli/performance_advisor_opts_test.go
  internal/test/test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

task: drop cloud encryption from mongocli (#2746)
  build/ci/library_owners.json
  go.mod
  go.sum
  internal/decryption/decryption.go
  internal/decryption/encrypted_audit_log.go
  internal/decryption/key_provider_opts.go
  internal/decryption/keyproviders/aws.go
  internal/decryption/keyproviders/azure.go
  internal/decryption/keyproviders/gcp.go
  internal/decryption/keyproviders/key_provider.go
  internal/decryption/keyproviders/kmip.go
  internal/decryption/keyproviders/local_key.go
Owners: @mongodb/mongocli

task: remove the unused output format for SDK migration
  internal/cli/output_opts.go
  internal/cli/output_opts_test.go
Owners: @mongodb/mongocli

task: delete atlas iam tests
  test/e2e/iam/atlas_org_api_key_access_list_test.go
  test/e2e/iam/atlas_org_api_keys_test.go
  test/e2e/iam/atlas_org_invitations_test.go
  test/e2e/iam/atlas_orgs_test.go
  test/e2e/iam/atlas_project_api_keys_test.go
  test/e2e/iam/atlas_project_invitations_test.go
  test/e2e/iam/atlas_project_teams_test.go
  test/e2e/iam/atlas_projects_test.go
  test/e2e/iam/atlas_team_users_test.go
  test/e2e/iam/atlas_teams_test.go
  test/e2e/iam/atlas_users_test.go
Owners: @mongodb/mongocli

delete other leftovers
  test/e2e/cli.go
  test/e2e/iam/orgs_test.go
Owners: @mongodb/mongocli

task: drop IsCloud since it shoudl always be false (#2748)
  docs/command/mongocli-cloud-manager-performanceAdvisor-namespaces-list.txt
  docs/command/mongocli-cloud-manager-performanceAdvisor-slowQueryLogs-list.txt
  docs/command/mongocli-cloud-manager-performanceAdvisor-suggestedIndexes-list.txt
  docs/command/mongocli-ops-manager-performanceAdvisor-namespaces-list.txt
  docs/command/mongocli-ops-manager-performanceAdvisor-slowQueryLogs-list.txt
  docs/command/mongocli-ops-manager-performanceAdvisor-suggestedIndexes-list.txt
  internal/cli/default_setter_opts.go
  internal/cli/mongocli/performanceadvisor/namespaces/list.go
  internal/cli/mongocli/performanceadvisor/namespaces/list_test.go
  internal/cli/mongocli/performanceadvisor/slowquerylogs/list.go
  internal/cli/mongocli/performanceadvisor/slowquerylogs/list_test.go
  internal/cli/mongocli/performanceadvisor/suggestedindexes/list.go
  internal/cli/mongocli/performanceadvisor/suggestedindexes/list_test.go
  internal/cli/performance_advisor_opts.go
  internal/cli/performance_advisor_opts_test.go
  internal/test/test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

task: update dependencies to latest
  go.mod
  go.sum
Owners: @mongodb/mongocli
