Repository mongodb/mongodb-atlas-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/mongocli, @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team

Add missing flag
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

Fix assertions
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

Keep track of different ids
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

Update internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/disconnect.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/disconnect.go
Owners: @mongodb/mongocli

Update internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/disconnect.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/disconnect.go
Owners: @mongodb/mongocli

Update internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connect.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connect.go
Owners: @mongodb/mongocli

Update internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connect.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connect.go
Owners: @mongodb/mongocli

Update internal/usage/usage.go
  internal/usage/usage.go
Owners: @mongodb/mongocli

Update docs
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs-connect.txt
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs-disconnect.txt
Owners: @mongodb/docs-cloud-team

CLOUDP-244267: Add connect and disconnect commands (#2885)
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs-connect.txt
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs-disconnect.txt
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs.txt
  docs/command/atlas-federatedAuthentication-federationSettings.txt
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connect.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connect_test.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connected_orgs_configs.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/describe_org_config_opts.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/disconnect.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/disconnect_test.go
  internal/flag/flags.go
  internal/mocks/mock_connected_orgs_store.go
  internal/store/connected_org_configs.go
  internal/usage/usage.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

CLOUDP-244266: Add connect e2e tests (#2888)
  test/e2e/atlas/helper_test.go
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

Fix AKO CLI update
  go.mod
Owners: @mongodb/mongocli

Apply suggestions from code review
  internal/kubernetes/operator/config_exporter.go
Owners: @mongodb/atlas_kubernetes_team

Make a request struct and move e2e to unit-test
  internal/kubernetes/operator/config_exporter.go
  internal/kubernetes/operator/config_exporter_test.go
  internal/kubernetes/operator/project/project.go
  internal/kubernetes/operator/project/project_test.go
  test/e2e/atlas/kubernetes_config_generate_test.go
Owners: @mongodb/atlas_kubernetes_team, @mongodb/mongocli

CLOUDP-245955: Add describe connectedOrgConfigs command
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connected_orgs_configs.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/describe.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/describe_test.go
Owners: @mongodb/mongocli

Docs and e2e
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs-describe.txt
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs.txt
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Fix test
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

CLOUDP-191365 Move CLI release token to github app
  build/ci/release.yml
  build/package/package.sh
  tools/github-token/main.go
Owners: @mongodb/mongocli

fix
  build/package/package.sh
Owners: @mongodb/mongocli

fix
  go.mod
  tools/github-token/main.go
Owners: @mongodb/mongocli

fix
  build/ci/library_owners.json
  tools/github-token/main.go
Owners: @mongodb/mongocli

CLOUDP-245955: Add describe connectedOrgConfigs command (#2890)
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs-describe.txt
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs.txt
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connected_orgs_configs.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/describe.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/describe_test.go
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

use sdk
  build/ci/library_owners.json
  go.mod
  go.sum
  tools/github-token/apix_bot.go
  tools/github-token/main.go
Owners: @mongodb/mongocli

fix
  tools/github-token/apix_bot.go
Owners: @mongodb/mongocli

fix
  build/package/package.sh
Owners: @mongodb/mongocli

remove github sdk v50
  build/ci/library_owners.json
  go.mod
  go.sum
  internal/cli/kubernetes/operator/install.go
  internal/cli/root/builder_test.go
  internal/kubernetes/operator/version/provider.go
  internal/latestrelease/finder_test.go
  internal/mocks/mock_release_version.go
  internal/version/release_version.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

Add connectedOrgConfigs list command
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connected_orgs_configs.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/list.go
  internal/store/connected_org_configs.go
Owners: @mongodb/mongocli

CLOUDP-191365 Move CLI release token to github app (#2891)
  build/ci/library_owners.json
  build/ci/release.yml
  build/package/package.sh
  go.mod
  go.sum
  internal/cli/kubernetes/operator/install.go
  internal/cli/root/builder_test.go
  internal/kubernetes/operator/version/provider.go
  internal/latestrelease/finder_test.go
  internal/mocks/mock_release_version.go
  internal/version/release_version.go
  tools/github-token/apix_bot.go
  tools/github-token/main.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

CLOUDP-191365 Move CLI release token to github app (#2891)
  build/ci/library_owners.json
  build/ci/release.yml
  build/package/package.sh
  go.mod
  go.sum
  internal/cli/root/mongocli/builder_test.go
  internal/latestrelease/finder_test.go
  internal/mocks/mock_release_version.go
  internal/version/release_version.go
  tools/github-token/apix_bot.go
  tools/github-token/main.go
Owners: @mongodb/mongocli

CLOUDP-245957: Add delete connectedOrgConfig command
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connected_orgs_configs.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/delete.go
  internal/mocks/mock_connected_orgs_store.go
  internal/store/connected_org_configs.go
Owners: @mongodb/mongocli

Add test
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/delete_test.go
Owners: @mongodb/mongocli

add docs
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs-delete.txt
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs.txt
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/delete.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

CLOUDP-244264: Add revokeJwk command
  internal/cli/federatedauthentication/federationsettings/identityprovider/identity_provider.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/revokejwk.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/revokejwk_test.go
  internal/mocks/mock_identity_providers_store.go
  internal/store/identity_providers.go
Owners: @mongodb/mongocli

Update output
  internal/cli/federatedauthentication/federationsettings/identityprovider/revokejwk.go
Owners: @mongodb/mongocli

update docs
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-revokeJwk.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider.txt
Owners: @mongodb/docs-cloud-team

.github/CODEOWNERS:

# Maintained by the MongoDB CLI team
*       @mongodb/mongocli

# Docs maintained by Docs Cloud Team
/docs/  @mongodb/docs-cloud-team

/internal/kubernetes/operator/ @mongodb/atlas_kubernetes_team
/internal/cli/atlas/kubernetes/ @mongodb/atlas_kubernetes_team
