Repository mongodb/mongodb-atlas-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/mongocli, @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team

task: remove the unused output format for SDK migration (#2750)
  internal/cli/output_opts.go
  internal/cli/output_opts_test.go
Owners: @mongodb/mongocli

task: delete atlas iam tests (#2751)
  test/e2e/cli.go
  test/e2e/iam/atlas_org_api_key_access_list_test.go
  test/e2e/iam/atlas_org_api_keys_test.go
  test/e2e/iam/atlas_org_invitations_test.go
  test/e2e/iam/atlas_orgs_test.go
  test/e2e/iam/atlas_project_api_keys_test.go
  test/e2e/iam/atlas_project_invitations_test.go
  test/e2e/iam/atlas_project_teams_test.go
  test/e2e/iam/atlas_projects_test.go
  test/e2e/iam/atlas_team_users_test.go
  test/e2e/iam/atlas_teams_test.go
  test/e2e/iam/atlas_users_test.go
  test/e2e/iam/orgs_test.go
Owners: @mongodb/mongocli

task: remove all references to go.mongodb.org/atlas-sdk/v20231115007
  build/ci/library_owners.json
  go.mod
  go.sum
  internal/watchers/watcher.go
Owners: @mongodb/mongocli

task: update dependencies to latest (#2752)
  go.mod
  go.sum
Owners: @mongodb/mongocli

task: remove all references to go.mongodb.org/atlas-sdk/v20231115007 (#2753)
  build/ci/library_owners.json
  go.mod
  go.sum
  internal/watchers/watcher.go
Owners: @mongodb/mongocli

Fixed 'PublishStableTasks'
  tools/genevergreen/generate/generate.go
Owners: @mongodb/mongocli

Update team_users_test.go
  test/e2e/iam/team_users_test.go
Owners: @mongodb/mongocli

alerts
  internal/cli/mongocli/alerts/acknowledge.go
  internal/cli/mongocli/alerts/acknowledge_test.go
  internal/cli/mongocli/alerts/describe_test.go
  internal/cli/mongocli/alerts/global_list.go
  internal/cli/mongocli/alerts/list.go
  internal/cli/mongocli/alerts/list_test.go
  internal/cli/mongocli/alerts/unacknowledge.go
  internal/cli/mongocli/alerts/unacknowledge_test.go
  internal/cli/mongocli/events/projects_list_test.go
  internal/cli/opsmanager/clusters/indexes_create.go
Owners: @mongodb/mongocli

Remove tool_name from genevergreen
  build/ci/evergreen-generate-tasks.sh
  tools/genevergreen/generate/generate.go
  tools/genevergreen/generate/generate_test.go
  tools/genevergreen/generate/publish.go
  tools/genevergreen/main.go
Owners: @mongodb/mongocli

Update tools/genevergreen/generate/generate.go
  tools/genevergreen/generate/generate.go
Owners: @mongodb/mongocli

Got rid of t.run
  tools/genevergreen/generate/generate_test.go
Owners: @mongodb/mongocli

task: delete atlas validations
  internal/flag/flags.go
  internal/validate/common_password.go
  internal/validate/validate.go
  internal/validate/validate_test.go
Owners: @mongodb/mongocli

task: delete mongosh integrations
  internal/cli/config/set.go
  internal/mongosh/mongosh.go
  internal/mongosh/mongosh_bin.go
  internal/mongosh/mongosh_bin_windows.go
Owners: @mongodb/mongocli

Found 2 more occurences of 'toolname'
  build/package/generate-msi.sh
  tools/genevergreen/generate/generate.go
Owners: @mongodb/mongocli

errors
  internal/cli/errors.go
Owners: @mongodb/mongocli

CLOUDP-237136: [mongocli] fix packing (#2761)
  build/ci/evergreen-generate-tasks.sh
  build/package/generate-msi.sh
  tools/genevergreen/generate/generate.go
  tools/genevergreen/generate/generate_test.go
  tools/genevergreen/generate/publish.go
  tools/genevergreen/main.go
Owners: @mongodb/mongocli

task: delete mongosh integrations (#2763)
  internal/cli/config/set.go
  internal/mongosh/mongosh.go
  internal/mongosh/mongosh_bin.go
  internal/mongosh/mongosh_bin_windows.go
Owners: @mongodb/mongocli

task: delete atlas validations (#2762)
  internal/cli/errors.go
  internal/flag/flags.go
  internal/validate/common_password.go
  internal/validate/validate.go
  internal/validate/validate_test.go
Owners: @mongodb/mongocli

task: delete Atlas dead code
  internal/cli/global_opts.go
  internal/cli/refresher_opts.go
  internal/config/profile.go
  internal/config/profile_test.go
  internal/store/store.go
Owners: @mongodb/mongocli

task: delete Atlas dead code (#2764)
  internal/cli/global_opts.go
  internal/cli/refresher_opts.go
  internal/config/profile.go
  internal/config/profile_test.go
  internal/store/store.go
Owners: @mongodb/mongocli

task: delete dead code from mongocli
  .github/workflows/code-health.yml
  Makefile
  internal/cli/atlas/deployments/logs.go
  internal/cli/atlas/deployments/search/indexes/create.go
  internal/cli/atlas/deployments/search/indexes/create_test.go
  internal/cli/atlas/deployments/search/indexes/delete_test.go
  internal/cli/atlas/deployments/search/indexes/describe_test.go
  internal/cli/atlas/setup/setup_cmd.go
  internal/config/profile.go
  internal/config/profile_integration_test.go
  internal/convert/errors.go
  internal/decryption/decryption.go
  internal/flag/flags.go
  internal/kubernetes/operator/install.go
  internal/store/store.go
  internal/store/store_test.go
  internal/usage/usage.go
  internal/validate/validate.go
  internal/watchers/cluster.go
  test/e2e/decryption/decryption.go
  tools/genevergreen/generate/generate.go
  tools/templates-checker/astparsing/astparsing.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

Update homebrew.go
  internal/homebrew/homebrew.go
Owners: @mongodb/mongocli

CLOUDP-237474: AtlasCLI fails to support db names with dots for custom roles
  internal/cli/atlas/customdbroles/create.go
  internal/convert/custom_db_role.go
  internal/convert/custom_db_role_test.go
Owners: @mongodb/mongocli

Update custom_db_role_test.go
  internal/convert/custom_db_role_test.go
Owners: @mongodb/mongocli

CLOUDP-164347:[Atlas CLI] Not possible to create indexes with options (e.g. indexes with collations) in Atlas CLI
  docs/command/atlas-clusters-indexes-create.txt
  internal/cli/atlas/clusters/indexes/create.go
  internal/cli/atlas/clusters/indexes/create_test.go
  internal/usage/usage.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

task: delete dead code used by mongocli (#2766)
  .github/workflows/code-health.yml
  Makefile
  internal/cli/atlas/deployments/logs.go
  internal/cli/atlas/deployments/search/indexes/create.go
  internal/cli/atlas/deployments/search/indexes/create_test.go
  internal/cli/atlas/deployments/search/indexes/delete_test.go
  internal/cli/atlas/deployments/search/indexes/describe_test.go
  internal/cli/atlas/setup/setup_cmd.go
  internal/config/profile.go
  internal/config/profile_integration_test.go
  internal/convert/errors.go
  internal/decryption/decryption.go
  internal/flag/flags.go
  internal/homebrew/homebrew.go
  internal/kubernetes/operator/install.go
  internal/store/store.go
  internal/store/store_test.go
  internal/usage/usage.go
  internal/validate/validate.go
  internal/watchers/cluster.go
  test/e2e/decryption/decryption.go
  tools/genevergreen/generate/generate.go
  tools/templates-checker/astparsing/astparsing.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

CLOUDP-237474: AtlasCLI fails to support collection names with dots for custom roles (#2767)
  internal/cli/atlas/customdbroles/create.go
  internal/convert/custom_db_role.go
  internal/convert/custom_db_role_test.go
Owners: @mongodb/mongocli

Update create.go
  docs/command/atlas-clusters-indexes-create.txt
  internal/cli/atlas/clusters/indexes/create.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

moved e2e data file into dedicated folder
  test/e2e/atlas/clusters_file_test.go
  test/e2e/atlas/clusters_flags_test.go
  test/e2e/atlas/data/create_cluster_gov_test.json
  test/e2e/atlas/data/create_cluster_test.json
  test/e2e/atlas/data/create_streams_connection_test.json
  test/e2e/atlas/data/sample_embedded_movies.json
  test/e2e/atlas/data/sample_vector_search.json
  test/e2e/atlas/data/sample_vector_search_pipeline.json
  test/e2e/atlas/data/search_nodes_spec.json
  test/e2e/atlas/data/search_nodes_spec_update.json
  test/e2e/atlas/data/update_cluster_test.json
  test/e2e/atlas/data/update_streams_connection_test.json
  test/e2e/atlas/deployments_local_noauth_test.go
  test/e2e/atlas/search_nodes_test.go
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli

updated e2e tests
  test/e2e/atlas/clusters_flags_test.go
  test/e2e/atlas/data/create_2dspere_index.json
  test/e2e/atlas/data/create_partial_index.json
  test/e2e/atlas/data/create_sparse_index.json
  test/e2e/atlas/data/create_unique_index.json
Owners: @mongodb/mongocli

Delete create_unique_index.json
  test/e2e/atlas/data/create_unique_index.json
Owners: @mongodb/mongocli

Update clusters_flags_test.go
  test/e2e/atlas/clusters_flags_test.go
Owners: @mongodb/mongocli

moved tests
  test/e2e/atlas/clusters_file_test.go
  test/e2e/atlas/clusters_flags_test.go
Owners: @mongodb/mongocli

Addressed PR comments
  internal/cli/atlas/clusters/indexes/create.go
  test/e2e/atlas/clusters_flags_test.go
Owners: @mongodb/mongocli

CLOUDP-164347: Add `--flag file` to the `atlas cluster index create` command (#2768)
  docs/command/atlas-clusters-indexes-create.txt
  internal/cli/atlas/clusters/indexes/create.go
  internal/cli/atlas/clusters/indexes/create_test.go
  internal/usage/usage.go
  test/e2e/atlas/clusters_file_test.go
  test/e2e/atlas/data/create_2dspere_index.json
  test/e2e/atlas/data/create_cluster_gov_test.json
  test/e2e/atlas/data/create_cluster_test.json
  test/e2e/atlas/data/create_partial_index.json
  test/e2e/atlas/data/create_sparse_index.json
  test/e2e/atlas/data/create_streams_connection_test.json
  test/e2e/atlas/data/sample_embedded_movies.json
  test/e2e/atlas/data/sample_vector_search.json
  test/e2e/atlas/data/sample_vector_search_pipeline.json
  test/e2e/atlas/data/search_nodes_spec.json
  test/e2e/atlas/data/search_nodes_spec_update.json
  test/e2e/atlas/data/update_cluster_test.json
  test/e2e/atlas/data/update_streams_connection_test.json
  test/e2e/atlas/deployments_local_noauth_test.go
  test/e2e/atlas/search_nodes_test.go
  test/e2e/atlas/streams_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

test: Integration tests for streams instance logs
  test/README.md
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli

fix: Correct issue with start & end times
  internal/cli/atlas/streams/instance/logs.go
Owners: @mongodb/mongocli

feat: Initial commit
  docs/command/atlas-streams-instances-download.txt
  docs/command/atlas-streams-instances.txt
  internal/cli/atlas/streams/instance/instance.go
  internal/cli/atlas/streams/instance/instance_test.go
  internal/cli/atlas/streams/instance/logs.go
  internal/cli/atlas/streams/instance/logs_test.go
  internal/mocks/mock_streams.go
  internal/store/streams.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

fix: Make audit log unit test pass
  internal/cli/atlas/streams/instance/logs.go
  internal/cli/atlas/streams/instance/logs_test.go
Owners: @mongodb/mongocli

chore: Update docs
  docs/command/atlas-streams-instances-download.txt
Owners: @mongodb/docs-cloud-team

.github/CODEOWNERS:

# Maintained by the MongoDB CLI team
*       @mongodb/mongocli

# Docs maintained by Docs Cloud Team
/docs/  @mongodb/docs-cloud-team

/internal/kubernetes/operator/ @mongodb/atlas_kubernetes_team
/internal/cli/atlas/kubernetes/ @mongodb/atlas_kubernetes_team
