Repository mongodb/mongodb-atlas-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/mongocli, @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team

.github/CODEOWNERS:

# Maintained by the MongoDB CLI team
*       @mongodb/mongocli

# Docs maintained by Docs Cloud Team
/docs/  @mongodb/docs-cloud-team

/internal/kubernetes/operator/ @mongodb/atlas_kubernetes_team
/internal/cli/atlas/kubernetes/ @mongodb/atlas_kubernetes_team

another attempt to fix test
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli

further fix
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli

add e2e test to create stream configuration with atlas cluster
  test/e2e/atlas/create_streams_connection_atlas_test.json
  test/e2e/atlas/data/create_streams_connection_test.json
  test/e2e/atlas/data/update_streams_connection_test.json
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli

fix lint errors
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli

try to update evergreen build to depend on cluster running
  build/ci/evergreen.yml
Owners: @mongodb/mongocli

update variable names to be more sensible
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli

revert changes made to yaml
  build/ci/evergreen.yml
Owners: @mongodb/mongocli

remove redundant unit test change
  internal/cli/streams/connection/create_test.go
Owners: @mongodb/mongocli

fix yaml
  build/ci/evergreen.yml
Owners: @mongodb/mongocli

fix many rebase issues
  internal/config/profile_test.go
  internal/kubernetes/operator/project/project_test.go
  test/e2e/atlas/atlas_e2e_test_generator_test.go
  test/e2e/atlas/helper_test.go
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

attempt to add watchCluster to force cluster creation
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli

CLOUDP-243633: Bump Atlas GO SDK to v20231115008.5.0
  go.mod
  go.sum
Owners: @mongodb/mongocli

test: try reduce user invite flake
  test/e2e/iam/atlas_users_test.go
Owners: @mongodb/mongocli

CLOUDP-242978: Convert matcher with json unmarshaling (#2854)
  internal/kubernetes/operator/project/project.go
  internal/kubernetes/operator/project/project_test.go
Owners: @mongodb/atlas_kubernetes_team

task: delete mongocli from release script
  tools/release/main.go
Owners: @mongodb/mongocli

test: try reduce user invite flake (#2863)
  test/e2e/iam/atlas_users_test.go
Owners: @mongodb/mongocli

task: delete mongocli from release script (#2864)
  tools/release/main.go
Owners: @mongodb/mongocli

code review feedback - move test into its own suite
  test/e2e/atlas/data/create_streams_connection_atlas_test.json
  test/e2e/atlas/streams_test.go
  test/e2e/atlas/streams_with_clusters_test.go
Owners: @mongodb/mongocli

rename test from create instance to connection
  test/e2e/atlas/streams_with_clusters_test.go
Owners: @mongodb/mongocli

revert incorrect linting changes
  internal/config/profile_test.go
  internal/kubernetes/operator/project/project_test.go
  test/e2e/atlas/atlas_e2e_test_generator_test.go
  test/e2e/atlas/helper_test.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

Remove last reference
  go.mod
  go.sum
  test/e2e/atlas/backup_restores_test.go
Owners: @mongodb/mongocli

Add debug flagS
  test/e2e/atlas/integrations_test.go
Owners: @mongodb/mongocli

code review feedback - add new test tags to evergreen.yml
  build/ci/evergreen.yml
Owners: @mongodb/mongocli

Remove debug flags
  test/e2e/atlas/integrations_test.go
Owners: @mongodb/mongocli

wip
  internal/cli/federatedauthentication/create.go
  internal/cli/federatedauthentication/federated_authentication.go
  internal/cli/root/builder.go
  internal/store/identity_providers.go
Owners: @mongodb/mongocli

Add SDK methods
  go.mod
  go.sum
  internal/store/identity_providers.go
Owners: @mongodb/mongocli

Update SDK
  go.mod
  go.sum
  internal/cli/federatedauthentication/create.go
  internal/store/identity_providers.go
Owners: @mongodb/mongocli

RRemove old SDK
  go.mod
  go.sum
Owners: @mongodb/mongocli

Remove federatedauthentication
  internal/cli/federatedauthentication/create.go
  internal/cli/federatedauthentication/federated_authentication.go
Owners: @mongodb/mongocli

Revert dbusers changes
  internal/cli/dbusers/create.go
  internal/cli/root/builder.go
Owners: @mongodb/mongocli

Add mocks
  internal/mocks/mock_identity_providers_store.go
  internal/store/identity_providers.go
Owners: @mongodb/mongocli

Fix typo
  internal/store/identity_providers.go
Owners: @mongodb/mongocli

Update copyright
  internal/store/identity_providers.go
Owners: @mongodb/mongocli

Fix wrong list usage
  internal/mocks/mock_identity_providers_store.go
  internal/store/identity_providers.go
Owners: @mongodb/mongocli

CLOUDP-244496: Add SDK store for OIDC identity providers (#2867)
  internal/mocks/mock_identity_providers_store.go
  internal/store/identity_providers.go
Owners: @mongodb/mongocli

CLOUDP-224399: Update e2e and unit tests for dbRoleToExecute (#2600)
  build/ci/evergreen.yml
  test/e2e/atlas/data/create_streams_connection_atlas_test.json
  test/e2e/atlas/streams_with_clusters_test.go
Owners: @mongodb/mongocli

CLOUDP-244258: Add IDP create command
  internal/cli/federatedauthentication/create.go
  internal/cli/federatedauthentication/identityprovider/identity_provider.go
  internal/cli/federatedauthentication/identityprovider/oidc/create.go
  internal/cli/federatedauthentication/identityprovider/oidc/oidc.go
  internal/flag/flags.go
  internal/store/identity_providers.go
  internal/usage/usage.go
Owners: @mongodb/mongocli

Add group flag
  internal/cli/federatedauthentication/identityprovider/oidc/create.go
Owners: @mongodb/mongocli

Lint
  test/e2e/atlas/dbusers_test.go
Owners: @mongodb/mongocli

CLOUDP-244257: Add DBUsers OIDC flag
  docs/command/atlas-dbusers-create.txt
  internal/cli/dbusers/create.go
  internal/cli/dbusers/create_test.go
  internal/flag/flags.go
  internal/usage/usage.go
  test/e2e/atlas/dbusers_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli
