Repository mongodb/mongodb-atlas-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/mongocli, @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team

.github/CODEOWNERS:

# Maintained by the MongoDB CLI team
*       @mongodb/mongocli

# Docs maintained by Docs Cloud Team
/docs/  @mongodb/docs-cloud-team

/internal/kubernetes/operator/ @mongodb/atlas_kubernetes_team
/internal/cli/atlas/kubernetes/ @mongodb/atlas_kubernetes_team

chore: Correct lint issue
  internal/cli/atlas/streams/instance/logs.go
Owners: @mongodb/mongocli

test: Correct unit test
  internal/cli/atlas/streams/instance/logs_test.go
Owners: @mongodb/mongocli

fix: Rename incorrect command
  internal/cli/atlas/streams/instance/logs.go
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli

chore: Rename command from logs to download
  internal/cli/atlas/streams/instance/download.go
  internal/cli/atlas/streams/instance/download_test.go
Owners: @mongodb/mongocli

remove readonly fields when exporting tenant deplyment
  internal/kubernetes/operator/deployment/deployment.go
Owners: @mongodb/atlas_kubernetes_team

add test
  internal/kubernetes/operator/deployment/deployment_test.go
Owners: @mongodb/atlas_kubernetes_team

fmt
  internal/kubernetes/operator/deployment/deployment.go
Owners: @mongodb/atlas_kubernetes_team

cleaner function signature
  internal/kubernetes/operator/deployment/deployment.go
Owners: @mongodb/atlas_kubernetes_team

add table tests
  internal/kubernetes/operator/deployment/deployment_test.go
Owners: @mongodb/atlas_kubernetes_team

chore: Cleanup of download command
  docs/command/atlas-streams-instances-download.txt
  internal/cli/atlas/streams/instance/download.go
  test/e2e/atlas/streams_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Add error message on test
  internal/kubernetes/operator/deployment/deployment_test.go
Owners: @mongodb/atlas_kubernetes_team

chore: Update docs to resolve spacing nit
  docs/command/atlas-streams-instances-download.txt
  internal/cli/atlas/streams/instance/download.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

chore: move windows file names into 'unsigned' for debugging
  build/ci/release.yml
  build/package/download-win-binaries.sh
Owners: @mongodb/mongocli

CLOUDP-237545: Ignore tenant readonly fields for Kubernetes generation (#2771)
  internal/kubernetes/operator/deployment/deployment.go
  internal/kubernetes/operator/deployment/deployment_test.go
Owners: @mongodb/atlas_kubernetes_team

task: add go toolchain
  .github/workflows/code-health.yml
  .tool-versions
  Makefile
  go.mod
Owners: @mongodb/mongocli

wip
  build/ci/release.yml
  build/package/download-win-binaries.sh
  build/package/windows_notarize.sh
Owners: @mongodb/mongocli

test
  go.mod
  go.sum
Owners: @mongodb/mongocli

fix
  build/package/windows_notarize.sh
Owners: @mongodb/mongocli

tas: drop support for kmip and local file encryption
  internal/cli/atlas/logs/logs.go
  internal/cli/decryption/key_providers.go
  internal/cli/decryption/list_key_provider_test.go
  internal/decryption/audit_log_line_scanner.go
  internal/decryption/audit_log_line_scanner_test.go
  internal/decryption/decryption.go
  internal/decryption/encrypted_audit_log.go
  internal/decryption/header_test.go
  internal/decryption/keyproviders/key_provider.go
  internal/decryption/keyproviders/kmip.go
  internal/decryption/keyproviders/local_key.go
  internal/decryption/list_providers.go
Owners: @mongodb/mongocli

CLOUDP-238518: Windows binaries are not signed
  build/ci/release.yml
  build/package/download-win-binaries.sh
  build/package/windows_notarize.sh
Owners: @mongodb/mongocli

CLOUDP-238518: Windows binaries are not signed
  build/ci/release.yml
  build/package/download-win-binaries.sh
  build/package/windows_notarize.sh
Owners: @mongodb/mongocli

Only attach error to diagnostics if podman machine is required
  internal/podman/client.go
Owners: @mongodb/mongocli

Address comment
  internal/podman/client.go
Owners: @mongodb/mongocli

task: remove unnecessary parenthesis
  internal/cli/atlas/networking/peering/create/azure.go
  internal/kubernetes/operator/secrets/secrets.go
  tools/templates-checker/templateparsing/templateparsing.go
  tools/templates-checker/templateparsing/validation.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

Fix go.mod file to avoid darwin issues
  go.mod
Owners: @mongodb/mongocli

CLOUDP-238518: Windows binaries are not signed (#2781)
  build/ci/release.yml
  build/package/download-win-binaries.sh
  build/package/windows_notarize.sh
Owners: @mongodb/mongocli

CLOUDP-238518: Windows binaries are not signed (#2782)
  build/ci/release.yml
  build/package/download-win-binaries.sh
  build/package/windows_notarize.sh
Owners: @mongodb/mongocli

task: drop support for kmip and local file encryption (#2780)
  internal/cli/atlas/logs/logs.go
  internal/cli/decryption/key_providers.go
  internal/cli/decryption/list_key_provider_test.go
  internal/decryption/audit_log_line_scanner.go
  internal/decryption/audit_log_line_scanner_test.go
  internal/decryption/decryption.go
  internal/decryption/encrypted_audit_log.go
  internal/decryption/header_test.go
  internal/decryption/keyproviders/key_provider.go
  internal/decryption/keyproviders/kmip.go
  internal/decryption/keyproviders/local_key.go
  internal/decryption/list_providers.go
Owners: @mongodb/mongocli

CLOUDP-234797: Update docs about upgrades from replica sets to multi-sharded instances
  docs/command/atlas-clusters-update.txt
  internal/cli/atlas/clusters/update.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

CLOUDP-235200: [AtlasCLI] `atlas cluster create` returns invalid MongoDB version error when env MCLI_SERVICE is not defined
  docs/command/atlas-clusters-create.txt
  internal/store/store.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Update text
  docs/command/atlas-clusters-update.txt
  internal/cli/atlas/clusters/update.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

task: go back to rhel80 for since we don't run podman tests anymore
  build/ci/evergreen.yml
Owners: @mongodb/mongocli

task: go back to rhel80 for since we don't run podman tests anymore (#2787)
  build/ci/evergreen.yml
Owners: @mongodb/mongocli

fix: only attach error to diagnostics if podman machine is required (#2783)
  internal/podman/client.go
Owners: @mongodb/mongocli

task: add go toolchain (#2779)
  .github/workflows/code-health.yml
  .tool-versions
  Makefile
  go.mod
  go.sum
Owners: @mongodb/mongocli

unindent UnknownBackupPolicyFrequencyTypesPruner
  internal/kubernetes/operator/features/crds.go
  internal/kubernetes/operator/features/patcher.go
  internal/kubernetes/operator/features/patcher_test.go
Owners: @mongodb/atlas_kubernetes_team

add AKO 2.2.0
  internal/kubernetes/operator/features/crds.go
Owners: @mongodb/atlas_kubernetes_team

chore: Respond to PR feedback
  internal/cli/atlas/streams/instance/download.go
  internal/cli/atlas/streams/instance/download_test.go
Owners: @mongodb/mongocli

make gen-docs
  docs/command/atlas-kubernetes-config-generate.txt
Owners: @mongodb/docs-cloud-team

CLOUDP-235200: [AtlasCLI] `atlas cluster create` returns invalid MongoDB version error when env MCLI_SERVICE is not defined (#2788)
  docs/command/atlas-clusters-create.txt
  internal/store/store.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli
