Repository mongodb/mongodb-atlas-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/mongocli, @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team

Refactor auth cmd
  internal/cli/auth/login.go
  internal/cli/auth/login_test.go
Owners: @mongodb/mongocli

make deb dependencies recommondations
  build/package/.goreleaser.yml
Owners: @mongodb/mongocli

CLOUDP-261265: Refactor auth command to be consistent with other commands (#3103)
  internal/cli/auth/auth.go
  internal/cli/auth/auth_test.go
  internal/cli/auth/login.go
  internal/cli/auth/login_test.go
Owners: @mongodb/mongocli

Improve tests and add some additional
  internal/cli/plugin/list_test.go
  internal/cli/plugin/plugin_test.go
Owners: @mongodb/mongocli

turned recommondations into suggests
  build/package/.goreleaser.yml
Owners: @mongodb/mongocli

Fix flacky test
  internal/plugin/plugin_test.go
Owners: @mongodb/mongocli

Create RegisterCommands(rootCmd) function
  internal/cli/plugin/plugin.go
  internal/cli/root/builder.go
Owners: @mongodb/mongocli

Create type ManifestCommand
  internal/plugin/plugin_manifest.go
  internal/plugin/plugin_manifest_test.go
  internal/plugin/plugin_test.go
Owners: @mongodb/mongocli

Validate for plugin with 0 commands
  internal/plugin/plugin_manifest.go
Owners: @mongodb/mongocli

Improve version validation
  internal/plugin/plugin_manifest.go
  internal/plugin/plugin_manifest_test.go
Owners: @mongodb/mongocli

Fix spacing in getManifestsFromPluginDirectory()
  internal/plugin/plugin_manifest.go
Owners: @mongodb/mongocli

Use path.Join instead of format
  internal/plugin/plugin_manifest.go
Owners: @mongodb/mongocli

Forward environment variables
  internal/plugin/plugin.go
Owners: @mongodb/mongocli

Update commands
  build/package/package.sh
Owners: @mongodb/mongocli

CLOUDP-259871: Plugin discovery logic and plugin list command (#3098)
  .golangci.yml
  docs/command/atlas-plugin-list.txt
  docs/command/atlas-plugin.txt
  docs/command/atlas.txt
  internal/cli/plugin/list.go
  internal/cli/plugin/list_test.go
  internal/cli/plugin/plugin.go
  internal/cli/plugin/plugin_test.go
  internal/cli/root/builder.go
  internal/cli/root/builder_test.go
  internal/plugin/plugin.go
  internal/plugin/plugin_manifest.go
  internal/plugin/plugin_manifest_test.go
  internal/plugin/plugin_test.go
Owners: @mongodb/mongocli, @mongodb/docs-cloud-team

CLOUDP-261264: remove podman as a recommondation on debian based distros (#3102)
  build/package/.goreleaser.yml
Owners: @mongodb/mongocli

CLOUDP-252760: Upgrade goreleaser version (#3104)
  build/package/.goreleaser.yml
  build/package/package.sh
Owners: @mongodb/mongocli

Always download the latest version during setup
  internal/cli/deployments/setup.go
  internal/cli/deployments/setup_test.go
Owners: @mongodb/mongocli

try fix windows
  internal/validate/validate_test.go
Owners: @mongodb/mongocli

Update brew_test.go
  test/e2e/brew/brew_test.go
Owners: @mongodb/mongocli

Update validate_test.go
  internal/validate/validate_test.go
Owners: @mongodb/mongocli

Update validate_test.go
  internal/validate/validate_test.go
Owners: @mongodb/mongocli

task: update go version in go.mod
  go.mod
Owners: @mongodb/mongocli

support for edge case when image pull fails but image is already available
  internal/cli/deployments/setup.go
  internal/cli/deployments/setup_test.go
Owners: @mongodb/mongocli

CLOUDP-207842: [AtlasCLI] default new deployments to pick latest MongoDB version (#3105)
  internal/cli/deployments/setup.go
  internal/cli/deployments/setup_test.go
Owners: @mongodb/mongocli

task: update go version in go.mod (#3107)
  go.mod
Owners: @mongodb/mongocli

task: update go version in go.mod
  go.mod
Owners: @mongodb/mongocli

task: update go version in go.mod (#3108)
  go.mod
Owners: @mongodb/mongocli

merged connect files under options into connect.go
  internal/cli/deployments/connect.go
  internal/cli/deployments/connect_test.go
  internal/cli/deployments/options/connect_opts.go
  internal/cli/deployments/options/connect_opts_atlas.go
  internal/cli/deployments/options/connect_opts_local.go
Owners: @mongodb/mongocli

CLOUDP-239577: [AtlasCLI] Move deployment connect opts into connect command (#3109)
  internal/cli/deployments/connect.go
  internal/cli/deployments/connect_test.go
  internal/cli/deployments/options/connect_opts.go
  internal/cli/deployments/options/connect_opts_atlas.go
  internal/cli/deployments/options/connect_opts_local.go
Owners: @mongodb/mongocli

CLOUDP-261495: Bump CLI to Atlas Operator 2.4.0
  go.mod
  go.sum
Owners: @mongodb/mongocli

initial search update work without tests
  docs/command/atlas-deployments-search-indexes-update.txt
  docs/command/atlas-deployments-search-indexes.txt
  internal/cli/deployments/search/indexes/indexes.go
  internal/cli/deployments/search/indexes/indexes_test.go
  internal/cli/deployments/search/indexes/update.go
  internal/mocks/mock_mongodb_client.go
  internal/mocks/mock_search.go
  internal/mongodbclient/search_index.go
  internal/store/search.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

CLOUDP-259871: Plugin discovery logic and plugin list command (#3098)
  .golangci.yml
  docs/command/atlas-plugin-list.txt
  docs/command/atlas-plugin.txt
  docs/command/atlas.txt
  internal/cli/plugin/list.go
  internal/cli/plugin/list_test.go
  internal/cli/plugin/plugin.go
  internal/cli/plugin/plugin_test.go
  internal/cli/root/builder.go
  internal/cli/root/builder_test.go
  internal/plugin/plugin.go
  internal/plugin/plugin_manifest.go
  internal/plugin/plugin_manifest_test.go
  internal/plugin/plugin_test.go
Owners: @mongodb/mongocli, @mongodb/docs-cloud-team

Update Kubernetes Operator support config
  docs/command/atlas-kubernetes-config-generate.txt
  internal/kubernetes/operator/features/crds.go
Owners: @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team

Add BCP CRD to 2.4.0 support
  internal/kubernetes/operator/features/crds.go
Owners: @mongodb/atlas_kubernetes_team

Add BCP CRD to 2.4.0 support for real this time
  internal/kubernetes/operator/features/crds.go
Owners: @mongodb/atlas_kubernetes_team

Remove support for 2.1
  internal/kubernetes/operator/features/crds.go
Owners: @mongodb/atlas_kubernetes_team

Update test versions
  internal/kubernetes/operator/config_exporter_test.go
  internal/kubernetes/operator/streamsprocessing/streamsprocessing_test.go
  test/e2e/atlas/kubernetes_config_generate_test.go
Owners: @mongodb/atlas_kubernetes_team, @mongodb/mongocli

add AKO export functionality for BCP
  internal/kubernetes/operator/config_exporter.go
  internal/kubernetes/operator/project/project.go
  internal/kubernetes/operator/project/project_test.go
  internal/mocks/mock_atlas_generic_store.go
  internal/mocks/mock_atlas_operator_project_store.go
  internal/store/operator.go
Owners: @mongodb/atlas_kubernetes_team, @mongodb/mongocli

appease linter
  internal/kubernetes/operator/project/project.go
  internal/kubernetes/operator/project/project_test.go
Owners: @mongodb/atlas_kubernetes_team

.github/CODEOWNERS:

# Maintained by the MongoDB Atlas CLI team
*       @mongodb/mongocli

# Docs maintained by Docs Cloud Team
/docs/  @mongodb/docs-cloud-team

/internal/kubernetes/operator/ @mongodb/atlas_kubernetes_team
/internal/cli/atlas/kubernetes/ @mongodb/atlas_kubernetes_team
