Repository mongodb/mongodb-atlas-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/mongocli, @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team

tests: correct error comparison (#2800)
  internal/cli/atlas/commonerrors/errors_test.go
Owners: @mongodb/mongocli

task: don't mix pointer and non pointer receivers (#2799)
  internal/log/log.go
Owners: @mongodb/mongocli

task: remove config.BinName (#2801)
  internal/cli/atlas/backup/exports/buckets/create.go
  internal/cli/atlas/backup/exports/jobs/create.go
  internal/cli/auth/login.go
  internal/cli/auth/whoami.go
  internal/cli/config/edit.go
  internal/cli/config/list.go
  internal/cli/config/rename.go
  internal/cli/config/set.go
  internal/cli/refresher_opts.go
  internal/cli/root/atlas/builder.go
  internal/cli/root/atlas/builder_test.go
  internal/config/profile.go
  internal/validate/validate.go
Owners: @mongodb/mongocli

wip
  internal/cli/atlas/deployments/connect.go
  internal/cli/atlas/deployments/connect_test.go
  internal/cli/atlas/deployments/options/deployment_opts_telemetry.go
  internal/cli/atlas/deployments/test/fixture/deployment_atlas.go
Owners: @mongodb/mongocli

task: validate import alias via importas
  .golangci.yml
  internal/kubernetes/operator/crds/provider.go
  internal/kubernetes/operator/datafederation/datafederation.go
  internal/kubernetes/operator/datafederation/datafederation_test.go
  internal/kubernetes/operator/dbusers/dbusers.go
  internal/kubernetes/operator/dbusers/dbusers_test.go
  internal/kubernetes/operator/deployment/deployment.go
  internal/kubernetes/operator/deployment/deployment_test.go
  internal/kubernetes/operator/features/crds.go
  internal/kubernetes/operator/features/crds_test.go
  internal/kubernetes/operator/features/patcher.go
  internal/kubernetes/operator/features/patcher_test.go
  internal/kubernetes/operator/project/project.go
  internal/kubernetes/operator/project/project_test.go
  internal/kubernetes/operator/secrets/secrets.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

Remove testing logs
  internal/cli/deployments/options/deployment_opts_telemetry.go
Owners: @mongodb/mongocli

Update connect test
  internal/cli/deployments/connect.go
  internal/cli/deployments/connect_test.go
Owners: @mongodb/mongocli

Add remaining deployments commands
  internal/cli/deployments/logs.go
  internal/cli/deployments/logs_test.go
  internal/cli/deployments/options/deployment_opts_telemetry.go
  internal/cli/deployments/pause.go
  internal/cli/deployments/pause_test.go
  internal/cli/deployments/start.go
  internal/cli/deployments/start_test.go
Owners: @mongodb/mongocli

Add indexes
  internal/cli/deployments/search/indexes/create.go
  internal/cli/deployments/search/indexes/create_test.go
  internal/cli/deployments/search/indexes/delete.go
  internal/cli/deployments/search/indexes/delete_test.go
  internal/cli/deployments/search/indexes/describe.go
  internal/cli/deployments/search/indexes/describe_test.go
  internal/cli/deployments/search/indexes/list.go
  internal/cli/deployments/search/indexes/list_test.go
Owners: @mongodb/mongocli

Add setup
  internal/cli/deployments/setup.go
Owners: @mongodb/mongocli

Add setup test
  internal/cli/deployments/setup_test.go
Owners: @mongodb/mongocli

Lint
  internal/cli/deployments/connect.go
  internal/cli/deployments/setup.go
Owners: @mongodb/mongocli

Revert connect changes
  internal/cli/deployments/connect.go
  internal/cli/deployments/connect_test.go
Owners: @mongodb/mongocli

Remove debug msg
  internal/cli/deployments/options/deployment_opts_telemetry.go
Owners: @mongodb/mongocli

Simplify tests
  internal/cli/deployments/connect.go
  internal/cli/deployments/connect_test.go
  internal/cli/deployments/options/deployment_opts.go
  internal/cli/deployments/search/indexes/create_test.go
  internal/cli/deployments/test/fixture/deployment_atlas.go
  internal/cli/deployments/test/fixture/deployment_local.go
Owners: @mongodb/mongocli

Lint
  internal/cli/deployments/search/indexes/delete_test.go
Owners: @mongodb/mongocli

Remove warnings
  internal/cli/deployments/options/deployment_opts_telemetry.go
Owners: @mongodb/mongocli

Lint
  internal/cli/deployments/logs.go
Owners: @mongodb/mongocli

Add multiple items to custom_db_roles test
  test/e2e/atlas/custom_db_roles_test.go
Owners: @mongodb/mongocli

doc: Update RELEASING.md to include how to generate the mongocli SBOM
  RELEASING.md
Owners: @mongodb/mongocli

Address comments on atlas search indexes
  internal/cli/deployments/search/indexes/delete.go
  internal/cli/deployments/search/indexes/delete_test.go
  internal/cli/deployments/search/indexes/describe.go
  internal/cli/deployments/search/indexes/describe_test.go
  internal/cli/deployments/search/indexes/list.go
  internal/cli/deployments/search/indexes/list_test.go
Owners: @mongodb/mongocli

Address comments in deployments commands
  internal/cli/deployments/connect_test.go
  internal/cli/deployments/delete_test.go
  internal/cli/deployments/list_test.go
  internal/cli/deployments/logs.go
  internal/cli/deployments/logs_test.go
  internal/cli/deployments/pause_test.go
  internal/cli/deployments/setup.go
  internal/cli/deployments/setup_test.go
Owners: @mongodb/mongocli

Update connect command
  internal/cli/deployments/connect.go
  internal/cli/deployments/connect_test.go
Owners: @mongodb/mongocli

CLOUDP-237254: Update remaining commands to append deployment type telemetry (#2803)
  internal/cli/deployments/connect.go
  internal/cli/deployments/connect_test.go
  internal/cli/deployments/delete_test.go
  internal/cli/deployments/list_test.go
  internal/cli/deployments/logs.go
  internal/cli/deployments/logs_test.go
  internal/cli/deployments/options/deployment_opts.go
  internal/cli/deployments/options/deployment_opts_select.go
  internal/cli/deployments/pause.go
  internal/cli/deployments/pause_test.go
  internal/cli/deployments/search/indexes/create.go
  internal/cli/deployments/search/indexes/create_test.go
  internal/cli/deployments/search/indexes/delete.go
  internal/cli/deployments/search/indexes/delete_test.go
  internal/cli/deployments/search/indexes/describe.go
  internal/cli/deployments/search/indexes/describe_test.go
  internal/cli/deployments/search/indexes/list.go
  internal/cli/deployments/search/indexes/list_test.go
  internal/cli/deployments/setup.go
  internal/cli/deployments/setup_test.go
  internal/cli/deployments/start.go
  internal/cli/deployments/start_test.go
  internal/cli/deployments/test/fixture/deployment_atlas.go
  internal/cli/deployments/test/fixture/deployment_local.go
Owners: @mongodb/mongocli

CLOUDP-239849: remove unused podman struct fields
  internal/cli/deployments/options/deployment_opts_select.go
  internal/podman/container_inspect.go
Owners: @mongodb/mongocli

CLOUDP-239849: remove unused podman struct fields
  build/ci/evergreen.yml
  test/e2e/atlas/deployments_local_noauth_test.go
Owners: @mongodb/mongocli

CLOUDP-239849: remove unused podman struct fields (#2813)
  build/ci/evergreen.yml
  internal/cli/deployments/options/deployment_opts_select.go
  internal/podman/container_inspect.go
  test/e2e/atlas/deployments_local_noauth_test.go
Owners: @mongodb/mongocli

Revert changes in PR #1967 for DiskIOPS for Kubernetes deployment
  internal/kubernetes/operator/convert/convert.go
  internal/kubernetes/operator/deployment/deployment.go
Owners: @mongodb/atlas_kubernetes_team

HELP-56667: Revert changes in PR #1967 for DiskIOPS for Kubernetes deployment (#2812)
  internal/kubernetes/operator/convert/convert.go
  internal/kubernetes/operator/deployment/deployment.go
Owners: @mongodb/atlas_kubernetes_team

PR comments
  .golangci.yml
  internal/kubernetes/operator/datafederation/datafederation.go
  internal/kubernetes/operator/datafederation/datafederation_test.go
  internal/kubernetes/operator/dbusers/dbusers.go
  internal/kubernetes/operator/dbusers/dbusers_test.go
  internal/kubernetes/operator/deployment/deployment.go
  internal/kubernetes/operator/deployment/deployment_test.go
  internal/kubernetes/operator/install_resources.go
  internal/kubernetes/operator/project/project.go
  internal/kubernetes/operator/project/project_test.go
  internal/kubernetes/operator/secrets/secrets.go
  test/e2e/atlas/kubernetes_config_apply_test.go
  test/e2e/atlas/kubernetes_config_generate_test.go
  test/e2e/atlas/kubernetes_operator_install_test.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

CLOUDP-240596: fix search index create watcher for Atlas deployments
  internal/cli/deployments/search/indexes/create.go
  internal/mocks/mock_search.go
  internal/store/search.go
  test/e2e/atlas/deployments_atlas_test.go
Owners: @mongodb/mongocli

CLOUDP-240596: fix search index create watcher for Atlas deployments
  internal/cli/deployments/search/indexes/create.go
Owners: @mongodb/mongocli

CLOUDP-240596: fix search index create watcher for Atlas deployments
  internal/cli/deployments/search/indexes/create.go
Owners: @mongodb/mongocli

CLOUDP-240596: fix search index create watcher for Atlas deployments (#2821)
  internal/cli/deployments/search/indexes/create.go
  internal/mocks/mock_search.go
  internal/store/search.go
  test/e2e/atlas/deployments_atlas_test.go
Owners: @mongodb/mongocli

test
  internal/cli/deployments/search/indexes/create.go
  test/e2e/atlas/deployments_atlas_test.go
Owners: @mongodb/mongocli

test
  internal/cli/deployments/search/indexes/create.go
  test/e2e/atlas/deployments_atlas_test.go
Owners: @mongodb/mongocli

Add customDBRoles example for multiple collections
  docs/command/atlas-customDbRoles-create.txt
  internal/cli/customdbroles/create.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

CLOUDP-240596: fix Atlas deployments test
  test/e2e/atlas/deployments_atlas_test.go
Owners: @mongodb/mongocli

CLOUDP-240596: fix Atlas deployments test (#2824)
  test/e2e/atlas/deployments_atlas_test.go
Owners: @mongodb/mongocli

DOCSP-37622: Add customDBRoles example for multiple collections (#2823)
  docs/command/atlas-customDbRoles-create.txt
  internal/cli/customdbroles/create.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

.github/CODEOWNERS:

# Maintained by the MongoDB CLI team
*       @mongodb/mongocli

# Docs maintained by Docs Cloud Team
/docs/  @mongodb/docs-cloud-team

/internal/kubernetes/operator/ @mongodb/atlas_kubernetes_team
/internal/cli/atlas/kubernetes/ @mongodb/atlas_kubernetes_team
