Repository mongodb/mongodb-atlas-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/mongocli, @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team

.github/CODEOWNERS:

# Maintained by the MongoDB CLI team
*       @mongodb/mongocli

# Docs maintained by Docs Cloud Team
/docs/  @mongodb/docs-cloud-team

/internal/kubernetes/operator/ @mongodb/atlas_kubernetes_team
/internal/cli/atlas/kubernetes/ @mongodb/atlas_kubernetes_team

CLOUDP-241826: Fix Alert Config translation panic
  internal/kubernetes/operator/project/project.go
Owners: @mongodb/atlas_kubernetes_team

Reduce cyclomatic complexity
  internal/kubernetes/operator/project/project.go
Owners: @mongodb/atlas_kubernetes_team

Pre-allocate res as per linter suggestion
  internal/kubernetes/operator/project/project.go
Owners: @mongodb/atlas_kubernetes_team

CLOUDP-241161: implement atlas project update command (#2834)
  docs/command/atlas-projects-update.txt
  docs/command/atlas-projects.txt
  internal/cli/projects/projects.go
  internal/cli/projects/projects_test.go
  internal/cli/projects/update.go
  internal/cli/projects/update_test.go
  internal/mocks/mock_projects.go
  internal/store/projects.go
  internal/usage/usage.go
  test/e2e/iam/atlas_projects_test.go
  test/e2e/iam/data/update_project_name_and_tags.json
  test/e2e/iam/data/update_project_reset_tags.json
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

task: update libs and go toolchain (#2837)
  .tool-versions
  Makefile
  build/ci/evergreen.yml
  build/ci/release.yml
  go.mod
  go.sum
Owners: @mongodb/mongocli

feat: Include optional flag for the tier field bundled inside the stream config. Defaults to SP30
  docs/command/atlas-streams-instances-create.txt
  internal/cli/streams/instance/create.go
  internal/cli/streams/instance/create_test.go
  internal/usage/usage.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

CLOUDP-219248: Refactor default flag handling to always use SP30 rather than rely on the server
  internal/cli/streams/instance/create.go
  internal/cli/streams/instance/create_test.go
Owners: @mongodb/mongocli

fix: include e2e test update for new flag
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli

CLOUDP-219248: default test case now uses all arguments; second test case specifies a non-default argument
  internal/cli/streams/instance/create_test.go
Owners: @mongodb/mongocli

Properly tackle all conversion issues
  internal/kubernetes/operator/project/project.go
  internal/kubernetes/operator/project/project_test.go
Owners: @mongodb/atlas_kubernetes_team

Apply suggestions from code review
  internal/kubernetes/operator/project/project.go
Owners: @mongodb/atlas_kubernetes_team

Apply suggestions from code review
  internal/kubernetes/operator/project/project.go
Owners: @mongodb/atlas_kubernetes_team

Apply suggestions from code review
  internal/kubernetes/operator/project/project.go
Owners: @mongodb/atlas_kubernetes_team

fix: simplify TestCreateBuilder to one test that uses all arguments, including optional tier
  internal/cli/streams/instance/create_test.go
Owners: @mongodb/mongocli

Use lowercase keys for matcher map
  internal/kubernetes/operator/project/project.go
  internal/kubernetes/operator/project/project_test.go
Owners: @mongodb/atlas_kubernetes_team

Fix related unit test
  internal/kubernetes/operator/project/project_test.go
Owners: @mongodb/atlas_kubernetes_team

CLOUDP-241760: temporarily disable azure test
  test/e2e/atlas/decryption_azure_test.go
Owners: @mongodb/mongocli

CLOUDP-241760: temporarily disable azure test
  test/e2e/atlas/decryption_azure_test.go
Owners: @mongodb/mongocli

CLOUDP-241760: temporarily disable azure test
  test/e2e/atlas/decryption_azure_test.go
Owners: @mongodb/mongocli

Add and fix e2e test
  internal/cli/alerts/settings/settings.go
  test/e2e/atlas/kubernetes_config_generate_test.go
Owners: @mongodb/mongocli

CLOUDP-241760: temporarily disable azure test (#2844)
  test/e2e/atlas/decryption_azure_test.go
Owners: @mongodb/mongocli

Fix pointer handling
  test/e2e/atlas/kubernetes_config_generate_test.go
Owners: @mongodb/mongocli

CLOUDP-241826: Fix Alert Config translation panic (#2838)
  internal/cli/alerts/settings/settings.go
  internal/kubernetes/operator/project/project.go
  internal/kubernetes/operator/project/project_test.go
  test/e2e/atlas/kubernetes_config_generate_test.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

CLOUDP-219248: Support --tier in Atlas Stream Instance Create command (#2839)
  docs/command/atlas-streams-instances-create.txt
  internal/cli/streams/instance/create.go
  internal/cli/streams/instance/create_test.go
  internal/usage/usage.go
  test/e2e/atlas/streams_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

CLOUDP-240399 Checksum for the Atlas CLI is missing .msi for Windows (#2836)
  build/package/.goreleaser.yml
Owners: @mongodb/mongocli

CLOUDP-242970 Add dependabot to mongocli-master branch
  .github/dependabot.yml
Owners: @mongodb/mongocli

CLOUDP-240399 Checksum for the Atlas CLI is missing .msi for Windows (#2836) (#2845)
  build/package/.goreleaser.yml
Owners: @mongodb/mongocli

set master as well
  .github/dependabot.yml
Owners: @mongodb/mongocli

address comments
  .github/dependabot.yml
Owners: @mongodb/mongocli

CLOUDP-242970 Add dependabot to mongocli-master branch (#2846)
  .github/dependabot.yml
Owners: @mongodb/mongocli

CLOUDP-242978: Convert matcher with json unmarshaling
  internal/kubernetes/operator/project/project.go
  internal/kubernetes/operator/project/project_test.go
Owners: @mongodb/atlas_kubernetes_team

Apply suggestions from code review
  internal/kubernetes/operator/project/project.go
Owners: @mongodb/atlas_kubernetes_team

Revert "CLOUDP-241760: temporarily disable azure test (#2844)"
  test/e2e/atlas/decryption_azure_test.go
Owners: @mongodb/mongocli

Revert "CLOUDP-241760: temporarily disable azure test" (#2856)
  test/e2e/atlas/decryption_azure_test.go
Owners: @mongodb/mongocli

update e2e and unit tests for dbRoleToExecute
  internal/cli/streams/connection/create_test.go
  test/e2e/atlas/data/create_streams_connection_test.json
  test/e2e/atlas/data/update_streams_connection_test.json
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli

fix build error in e2e tests
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli

fix build error
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli

revert debug change
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli

fix integration test
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli

debug: try to workout why update streams connection test works
  test/e2e/atlas/streams_test.go
Owners: @mongodb/mongocli
