Repository mongodb/mongodb-atlas-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/mongocli, @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team

Update test name
  test/e2e/atlas/helper_test.go
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

Add more tests
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

Update tests
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

Lint
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

Update IdP tests
  test/e2e/atlas/helper_test.go
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

Update test
  internal/cli/federatedauthentication/identityprovider/create/oidc.go
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

WIP
  internal/cli/federatedauthentication/connectedorgsconfigs/connect.go
  internal/cli/federatedauthentication/connectedorgsconfigs/connected_orgs_configs.go
  internal/cli/federatedauthentication/connectedorgsconfigs/disconnect.go
  internal/flag/flags.go
  internal/store/connected_org_configs.go
  internal/usage/usage.go
Owners: @mongodb/mongocli

Remove unecessary text from example
  docs/command/atlas-federatedAuthentication-federationSettings-describe.txt
  internal/cli/federatedauthentication/federationsettings/describe.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Address comments
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

Update test check
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

CLOUDP-244265: Add identityProviders E2E (#2883)
  internal/cli/federatedauthentication/identityprovider/create/oidc.go
  test/e2e/atlas/helper_test.go
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

wip
  internal/cli/federatedauthentication/connectedorgsconfigs/connect.go
Owners: @mongodb/mongocli

Update command structure
  internal/cli/federatedauthentication/federated_authentication.go
  internal/cli/federatedauthentication/federationsettings/federation_settings.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/create/create.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/create/oidc.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/create/oidc_test.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/delete.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/delete_test.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/describe.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/describe_test.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/identity_provider.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/list.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/list_test.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/update/oidc.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/update/oidc_test.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/update/update.go
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

update: update command structure (#2884)
  internal/cli/federatedauthentication/federated_authentication.go
  internal/cli/federatedauthentication/federationsettings/federation_settings.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/create/create.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/create/oidc.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/create/oidc_test.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/delete.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/delete_test.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/describe.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/describe_test.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/identity_provider.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/list.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/list_test.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/update/oidc.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/update/oidc_test.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/update/update.go
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

Update docs after command restructure - no text update
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-create-oidc.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-create.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-delete.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-describe.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-list.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-update-oidc.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-update.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider.txt
  docs/command/atlas-federatedAuthentication-federationSettings.txt
  docs/command/atlas-federatedAuthentication-identityProvider.txt
  docs/command/atlas-federatedAuthentication.txt
Owners: @mongodb/docs-cloud-team

Remove default as flag is required
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-create-oidc.txt
  internal/cli/federatedauthentication/federationsettings/identityprovider/create/oidc.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Update identityProviderId description
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-delete.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-describe.txt
  internal/cli/federatedauthentication/federationsettings/identityprovider/delete.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/describe.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/list.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

CLOUDP-245182: Add docs to identity provider commands (#2882)
  docs/command/atlas-federatedAuthentication-federationSettings-describe.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-create-oidc.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-create.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-delete.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-describe.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-list.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-update-oidc.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider-update.txt
  docs/command/atlas-federatedAuthentication-federationSettings-identityProvider.txt
  docs/command/atlas-federatedAuthentication-federationSettings.txt
  docs/command/atlas-federatedAuthentication.txt
  docs/command/atlas.txt
  internal/cli/federatedauthentication/federated_authentication.go
  internal/cli/federatedauthentication/federationsettings/describe.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/create/oidc.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/delete.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/describe.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/list.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Update folders
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connect.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connected_orgs_configs.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/disconnect.go
  internal/cli/federatedauthentication/federationsettings/federation_settings.go
Owners: @mongodb/mongocli

Fix import
  internal/cli/federatedauthentication/federated_authentication.go
Owners: @mongodb/mongocli

WIP
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connect.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connect_test.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/describe_org_config_opts.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/disconnect.go
  internal/store/connected_org_configs.go
Owners: @mongodb/mongocli

Fix alerts settings after SDK Update
  internal/cli/alerts/settings/settings.go
  internal/kubernetes/operator/project/project.go
  internal/kubernetes/operator/project/project_test.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

CLOUDP-240722 Change to wait on correct dependency
  build/ci/release.yml
Owners: @mongodb/mongocli

WIP
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connect.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/describe_org_config_opts.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/disconnect.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/disconnect_test.go
  internal/mocks/mock_connected_orgs_store.go
  internal/store/connected_org_configs.go
Owners: @mongodb/mongocli

Add license
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/describe_org_config_opts.go
Owners: @mongodb/mongocli

Add docs
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs-connect.txt
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs.txt
  docs/command/atlas-federatedAuthentication-federationSettings.txt
Owners: @mongodb/docs-cloud-team

Add fixes
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connect.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/disconnect.go
Owners: @mongodb/mongocli

Update docs
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs-disconnect.txt
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs.txt
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/disconnect.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Lint
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/describe_org_config_opts.go
Owners: @mongodb/mongocli

Fix test
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connect.go
Owners: @mongodb/mongocli

Update internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/disconnect.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/disconnect.go
Owners: @mongodb/mongocli

CLOUDP-240722 Change windows test to wait on correct dependency (#2887)
  build/ci/release.yml
Owners: @mongodb/mongocli

Address comment
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connect.go
Owners: @mongodb/mongocli

Remove output template from annotations
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs-connect.txt
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs-disconnect.txt
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connect.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Update internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connect.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/connect.go
Owners: @mongodb/mongocli

Fix disconnect template
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs-disconnect.txt
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/disconnect.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Add connected orgs config E2E
  test/e2e/atlas/helper_test.go
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

Update entity
  test/e2e/atlas/helper_test.go
Owners: @mongodb/mongocli

Lint
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

Improve idp e2e test
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

.github/CODEOWNERS:

# Maintained by the MongoDB CLI team
*       @mongodb/mongocli

# Docs maintained by Docs Cloud Team
/docs/  @mongodb/docs-cloud-team

/internal/kubernetes/operator/ @mongodb/atlas_kubernetes_team
/internal/cli/atlas/kubernetes/ @mongodb/atlas_kubernetes_team
