Repository mongodb/mongodb-atlas-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/mongocli, @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team

Update flags
  internal/cli/dbusers/create.go
Owners: @mongodb/mongocli

Update flag
  docs/command/atlas-dbusers-create.txt
  internal/flag/flags.go
  internal/usage/usage.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Lint
  test/e2e/atlas/dbusers_test.go
Owners: @mongodb/mongocli

Update test
  test/e2e/atlas/dbusers_test.go
Owners: @mongodb/mongocli

Update Group
  internal/cli/dbusers/create.go
Owners: @mongodb/mongocli

Remove test while org is not ready
  test/e2e/atlas/dbusers_test.go
Owners: @mongodb/mongocli

Update docs
  docs/command/atlas-dbusers-create.txt
Owners: @mongodb/docs-cloud-team

tidy
  go.mod
  go.sum
Owners: @mongodb/mongocli

Fix test
  internal/cli/dbusers/create.go
  internal/cli/dbusers/create_test.go
Owners: @mongodb/mongocli

Update SDK
  internal/cli/federatedauthentication/identityprovider/oidc/create.go
Owners: @mongodb/mongocli

Address comments
  docs/command/atlas-dbusers-create.txt
  docs/command/atlas-dbusers-update.txt
  internal/cli/dbusers/create.go
  internal/usage/usage.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Update docs
  docs/command/atlas-dbusers-create.txt
  internal/usage/usage.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Update builder test
  internal/cli/root/builder_test.go
Owners: @mongodb/mongocli

Restructure and update flags
  internal/cli/federatedauthentication/federated_authentication.go
  internal/cli/federatedauthentication/identityprovider/create/create.go
  internal/cli/federatedauthentication/identityprovider/create/oidc.go
  internal/cli/federatedauthentication/identityprovider/identity_provider.go
  internal/flag/flags.go
  internal/usage/usage.go
Owners: @mongodb/mongocli

Remove dbusers changes
  internal/cli/dbusers/create.go
Owners: @mongodb/mongocli

Lint
  internal/cli/federatedauthentication/identityprovider/create/create.go
  internal/cli/federatedauthentication/identityprovider/create/oidc.go
  internal/cli/federatedauthentication/identityprovider/identity_provider.go
  internal/flag/flags.go
  internal/usage/usage.go
Owners: @mongodb/mongocli

Fix command
  internal/cli/federatedauthentication/identityprovider/create/oidc.go
Owners: @mongodb/mongocli

Add tests
  internal/cli/federatedauthentication/identityprovider/create/oidc.go
  internal/cli/federatedauthentication/identityprovider/create/oidc_test.go
Owners: @mongodb/mongocli

Update copyright file
  internal/cli/federatedauthentication/federated_authentication.go
Owners: @mongodb/mongocli

Add store
  internal/mocks/mock_federation_settings_store.go
  internal/store/federation_settings.go
Owners: @mongodb/mongocli

Add command
  internal/cli/federatedauthentication/federated_authentication.go
  internal/cli/federatedauthentication/federationsettings/describe.go
  internal/cli/federatedauthentication/federationsettings/describe_test.go
  internal/cli/federatedauthentication/federationsettings/federation_settings.go
  internal/cli/root/builder.go
  internal/cli/root/builder_test.go
Owners: @mongodb/mongocli

Lint
  internal/cli/federatedauthentication/federationsettings/describe.go
Owners: @mongodb/mongocli

Lint
  internal/cli/federatedauthentication/federationsettings/describe_test.go
Owners: @mongodb/mongocli

Add e2e test
  test/e2e/atlas/federation_settings_test.go
Owners: @mongodb/mongocli

lint
  test/e2e/atlas/federation_settings_test.go
Owners: @mongodb/mongocli

Remove test leftover
  test/e2e/atlas/federation_settings_test.go
Owners: @mongodb/mongocli

Update readme
  test/README.md
Owners: @mongodb/mongocli

Fix typo
  internal/cli/federatedauthentication/federationsettings/describe.go
  internal/mocks/mock_federation_settings_store.go
  internal/store/federation_settings.go
Owners: @mongodb/mongocli

Add missing test fix
  internal/cli/federatedauthentication/federationsettings/describe_test.go
Owners: @mongodb/mongocli

Address comments
  internal/cli/federatedauthentication/federationsettings/describe.go
  test/e2e/atlas/federation_settings_test.go
  test/e2e/atlas/helper_test.go
Owners: @mongodb/mongocli

Add test template
  internal/cli/federatedauthentication/identityprovider/create/oidc_test.go
Owners: @mongodb/mongocli

Address comments
  internal/cli/federatedauthentication/federationsettings/describe.go
  internal/cli/federatedauthentication/federationsettings/describe_test.go
  test/e2e/atlas/federation_settings_test.go
Owners: @mongodb/mongocli

Lint
  internal/cli/federatedauthentication/federationsettings/describe.go
Owners: @mongodb/mongocli

CLOUDP-244263: Add federationSettings describe command (#2872)
  internal/cli/federatedauthentication/federated_authentication.go
  internal/cli/federatedauthentication/federationsettings/describe.go
  internal/cli/federatedauthentication/federationsettings/describe_test.go
  internal/cli/federatedauthentication/federationsettings/federation_settings.go
  internal/cli/root/builder.go
  internal/cli/root/builder_test.go
  internal/mocks/mock_federation_settings_store.go
  internal/store/federation_settings.go
  test/README.md
  test/e2e/atlas/federation_settings_test.go
  test/e2e/atlas/helper_test.go
Owners: @mongodb/mongocli

Fix merge
  internal/cli/federatedauthentication/federated_authentication.go
Owners: @mongodb/mongocli

CLOUDP-244259: Add identityProviders delete command
  internal/cli/federatedauthentication/identityprovider/delete.go
  internal/cli/federatedauthentication/identityprovider/delete_test.go
  internal/cli/federatedauthentication/identityprovider/identity_provider.go
  internal/flag/flags.go
  internal/mocks/mock_identity_providers_store.go
  internal/store/identity_providers.go
  internal/usage/usage.go
Owners: @mongodb/mongocli

Update deletion text
  internal/cli/federatedauthentication/identityprovider/delete.go
Owners: @mongodb/mongocli

Clean up test
  internal/cli/federatedauthentication/identityprovider/delete_test.go
Owners: @mongodb/mongocli

Lint
  internal/store/identity_providers.go
Owners: @mongodb/mongocli

Mark federation settings as required
  internal/cli/federatedauthentication/identityprovider/delete.go
Owners: @mongodb/mongocli

.github/CODEOWNERS:

# Maintained by the MongoDB CLI team
*       @mongodb/mongocli

# Docs maintained by Docs Cloud Team
/docs/  @mongodb/docs-cloud-team

/internal/kubernetes/operator/ @mongodb/atlas_kubernetes_team
/internal/cli/atlas/kubernetes/ @mongodb/atlas_kubernetes_team
