Repository mongodb/mongodb-atlas-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/mongocli, @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team

.github/CODEOWNERS:

# Maintained by the MongoDB CLI team
*       @mongodb/mongocli

# Docs maintained by Docs Cloud Team
/docs/  @mongodb/docs-cloud-team

/internal/kubernetes/operator/ @mongodb/atlas_kubernetes_team
/internal/cli/atlas/kubernetes/ @mongodb/atlas_kubernetes_team

CLOUDP-244260: Add describe command
  internal/cli/federatedauthentication/identityprovider/describe.go
  internal/cli/federatedauthentication/identityprovider/identity_provider.go
Owners: @mongodb/mongocli

fix: Update build/ci/library_owners.json to include missing libraries
  build/ci/library_owners.json
Owners: @mongodb/mongocli

fix: Update build/ci/library_owners.json to include missing libraries
  .github/workflows/dependabot.yml
Owners: @mongodb/mongocli

fix: Fix jira ticket creation with dependabot (#2878)
  .github/workflows/dependabot.yml
  build/ci/library_owners.json
Owners: @mongodb/mongocli

CLOUDP-244257: Add DBUsers OIDC flag (#2869)
  docs/command/atlas-dbusers-create.txt
  docs/command/atlas-dbusers-update.txt
  internal/cli/dbusers/create.go
  internal/cli/dbusers/create_test.go
  internal/flag/flags.go
  internal/usage/usage.go
  test/e2e/atlas/dbusers_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

CLOUDP-244259: Add identityProviders delete command (#2873)
  internal/cli/federatedauthentication/identityprovider/delete.go
  internal/cli/federatedauthentication/identityprovider/delete_test.go
  internal/cli/federatedauthentication/identityprovider/identity_provider.go
  internal/flag/flags.go
  internal/mocks/mock_identity_providers_store.go
  internal/store/identity_providers.go
  internal/usage/usage.go
Owners: @mongodb/mongocli

Add unit test
  internal/cli/federatedauthentication/identityprovider/describe_test.go
Owners: @mongodb/mongocli

Update test
  internal/cli/federatedauthentication/identityprovider/describe_test.go
Owners: @mongodb/mongocli

CLOUDP-244260: Add identityProviders describe command (#2874)
  internal/cli/federatedauthentication/identityprovider/describe.go
  internal/cli/federatedauthentication/identityprovider/describe_test.go
  internal/cli/federatedauthentication/identityprovider/identity_provider.go
Owners: @mongodb/mongocli

CLOUDP-244946: Add identityProviders list command
  internal/cli/federatedauthentication/identityprovider/list.go
Owners: @mongodb/mongocli

CLOUDP-244261: Add identityProvider list command
  internal/cli/federatedauthentication/identityprovider/identity_provider.go
  internal/cli/federatedauthentication/identityprovider/list.go
  internal/flag/flags.go
  internal/usage/usage.go
Owners: @mongodb/mongocli

Address comments
  internal/cli/federatedauthentication/identityprovider/create/create.go
  internal/cli/federatedauthentication/identityprovider/create/oidc.go
  internal/cli/federatedauthentication/identityprovider/create/oidc_test.go
  internal/flag/flags.go
Owners: @mongodb/mongocli

CLOUDP-244258: Add identityProvider create command (#2870)
  internal/cli/federatedauthentication/federated_authentication.go
  internal/cli/federatedauthentication/identityprovider/create/create.go
  internal/cli/federatedauthentication/identityprovider/create/oidc.go
  internal/cli/federatedauthentication/identityprovider/create/oidc_test.go
  internal/flag/flags.go
  internal/usage/usage.go
Owners: @mongodb/mongocli

WIP
  internal/cli/federatedauthentication/identityprovider/list.go
  internal/cli/federatedauthentication/identityprovider/list_test.go
Owners: @mongodb/mongocli

Add test
  internal/cli/federatedauthentication/identityprovider/list_test.go
Owners: @mongodb/mongocli

Lint
  internal/cli/federatedauthentication/identityprovider/list_test.go
Owners: @mongodb/mongocli

Add template
  internal/cli/federatedauthentication/identityprovider/list.go
Owners: @mongodb/mongocli

WIP
  internal/cli/federatedauthentication/identityprovider/create/create.go
  internal/cli/federatedauthentication/identityprovider/update/oidc.go
  internal/cli/federatedauthentication/identityprovider/update/oidc_test.go
  internal/cli/federatedauthentication/identityprovider/update/update.go
Owners: @mongodb/mongocli

CLOUDP-242974: Fix org id from project
  internal/kubernetes/operator/config_exporter.go
  internal/kubernetes/operator/install.go
  internal/kubernetes/operator/project/project.go
  internal/kubernetes/operator/project/project_test.go
Owners: @mongodb/atlas_kubernetes_team

Deprecate org id usage, infer from project
  docs/command/atlas-kubernetes-config-apply.txt
  docs/command/atlas-kubernetes-config-generate.txt
  internal/cli/kubernetes/config/apply.go
  internal/cli/kubernetes/config/generate.go
  internal/kubernetes/operator/config_exporter.go
  internal/kubernetes/operator/config_exporter_test.go
  internal/kubernetes/operator/install.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli, @mongodb/atlas_kubernetes_team

WIP
  internal/cli/federatedauthentication/identityprovider/update/oidc.go
  internal/cli/federatedauthentication/identityprovider/update/oidc_test.go
  internal/validate/validate.go
Owners: @mongodb/mongocli

Update command order
  internal/cli/federatedauthentication/identityprovider/identity_provider.go
Owners: @mongodb/mongocli

Reuse pagination opts from listopts
  internal/cli/federatedauthentication/identityprovider/list.go
Owners: @mongodb/mongocli

Make idpType not required and default to workforce
  internal/cli/federatedauthentication/identityprovider/list.go
Owners: @mongodb/mongocli

Fix pagination usage
  internal/cli/federatedauthentication/identityprovider/list.go
  internal/cli/federatedauthentication/identityprovider/list_test.go
Owners: @mongodb/mongocli

Update comment
  internal/cli/federatedauthentication/identityprovider/list.go
Owners: @mongodb/mongocli

Make it fail if the org ids don't match
  docs/command/atlas-kubernetes-config-apply.txt
  docs/command/atlas-kubernetes-config-generate.txt
  internal/cli/kubernetes/config/apply.go
  internal/cli/kubernetes/config/generate.go
  internal/kubernetes/operator/config_exporter.go
  internal/kubernetes/operator/config_exporter_test.go
  internal/kubernetes/operator/install.go
  test/e2e/atlas/kubernetes_config_generate_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli, @mongodb/atlas_kubernetes_team

Add protocol flag and make it optional
  internal/cli/federatedauthentication/identityprovider/list.go
  internal/flag/flags.go
  internal/usage/usage.go
Owners: @mongodb/mongocli

Add flag to test
  internal/cli/federatedauthentication/identityprovider/list_test.go
Owners: @mongodb/mongocli

Add validations for flags that are only applicable for WORKFORCE
  internal/cli/federatedauthentication/identityprovider/update/oidc.go
  internal/cli/federatedauthentication/identityprovider/update/oidc_test.go
  internal/validate/validate.go
Owners: @mongodb/mongocli

Lint
  internal/cli/federatedauthentication/identityprovider/update/oidc.go
Owners: @mongodb/mongocli

CLOUDP-244261: Add identityProvider list command (#2879)
  internal/cli/federatedauthentication/identityprovider/identity_provider.go
  internal/cli/federatedauthentication/identityprovider/list.go
  internal/cli/federatedauthentication/identityprovider/list_test.go
  internal/flag/flags.go
  internal/usage/usage.go
Owners: @mongodb/mongocli

CLOUDP-244946: Add oidcType flag to dbusers update command
  docs/command/atlas-dbusers-update.txt
  internal/cli/dbusers/update.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

CLOUDP-245182: Add docs to identity provider commands
  docs/command/atlas-federatedAuthentication-federationSettings-describe.txt
  docs/command/atlas-federatedAuthentication-federationSettings.txt
  docs/command/atlas-federatedAuthentication-identityProvider-create-oidc.txt
  docs/command/atlas-federatedAuthentication-identityProvider-create.txt
  docs/command/atlas-federatedAuthentication-identityProvider-delete.txt
  docs/command/atlas-federatedAuthentication-identityProvider-describe.txt
  docs/command/atlas-federatedAuthentication-identityProvider-list.txt
  docs/command/atlas-federatedAuthentication-identityProvider.txt
  docs/command/atlas-federatedAuthentication.txt
  docs/command/atlas.txt
  internal/cli/federatedauthentication/federated_authentication.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

CLOUDP-244262: Add identityProviders update command (#2880)
  internal/cli/federatedauthentication/identityprovider/create/create.go
  internal/cli/federatedauthentication/identityprovider/create/oidc.go
  internal/cli/federatedauthentication/identityprovider/update/oidc.go
  internal/cli/federatedauthentication/identityprovider/update/oidc_test.go
  internal/cli/federatedauthentication/identityprovider/update/update.go
  internal/validate/validate.go
Owners: @mongodb/mongocli

Add missing update command
  docs/command/atlas-federatedAuthentication-identityProvider-update-oidc.txt
  docs/command/atlas-federatedAuthentication-identityProvider-update.txt
  docs/command/atlas-federatedAuthentication-identityProvider.txt
Owners: @mongodb/docs-cloud-team

CLOUDP-244265: Add identityProviders E2E
  test/e2e/atlas/helper_test.go
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli

Add more tests
  test/e2e/atlas/federation_settings_test.go
Owners: @mongodb/mongocli

Revert "Add more tests"
  test/e2e/atlas/federation_settings_test.go
Owners: @mongodb/mongocli

Add more tests
  test/e2e/atlas/identity_providers_test.go
Owners: @mongodb/mongocli
