Repository mongodb/mongodb-atlas-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/mongocli, @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team

.github/CODEOWNERS:

# Maintained by the MongoDB CLI team
*       @mongodb/mongocli

# Docs maintained by Docs Cloud Team
/docs/  @mongodb/docs-cloud-team

/internal/kubernetes/operator/ @mongodb/atlas_kubernetes_team
/internal/cli/atlas/kubernetes/ @mongodb/atlas_kubernetes_team

task: remove unnecessary parenthesis (#2784)
  internal/cli/atlas/networking/peering/create/azure.go
  internal/kubernetes/operator/secrets/secrets.go
  tools/templates-checker/templateparsing/templateparsing.go
  tools/templates-checker/templateparsing/validation.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

test/e2e add yearly backup frequency types
  test/e2e/atlas/kubernetes_config_apply_test.go
  test/e2e/atlas/kubernetes_config_generate_test.go
Owners: @mongodb/mongocli

test/e2e/kubernetes_config_generate: ignore tenant readonly fields for shared clusters
  test/e2e/atlas/kubernetes_config_generate_test.go
Owners: @mongodb/mongocli

Address copy comments
  docs/command/atlas-clusters-update.txt
  internal/cli/atlas/clusters/update.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

CLOUDP-234797: Update docs about upgrades from replica sets to multi-… (#2786)
  docs/command/atlas-clusters-update.txt
  internal/cli/atlas/clusters/update.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

CLOUDP-238726: AKO: Add Release 2.2.0 (#2789)
  docs/command/atlas-kubernetes-config-generate.txt
  internal/kubernetes/operator/features/crds.go
  internal/kubernetes/operator/features/patcher.go
  internal/kubernetes/operator/features/patcher_test.go
  test/e2e/atlas/kubernetes_config_apply_test.go
  test/e2e/atlas/kubernetes_config_generate_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team, @mongodb/mongocli

Join actions on customDbRole creation
  internal/cli/atlas/customdbroles/create.go
Owners: @mongodb/mongocli

CLOUDP-238828: Join actions on customDbRole creation (#2791)
  internal/cli/atlas/customdbroles/create.go
Owners: @mongodb/mongocli

CLOUDP-218000: Update AtlasCLI login expiration notification
  internal/cli/refresher_opts.go
Owners: @mongodb/mongocli

CLOUDP-218000: Update AtlasCLI login expiration notification (#2792)
  internal/cli/refresher_opts.go
Owners: @mongodb/mongocli

Set telemetry events for deployment_time to lower case
  internal/cli/atlas/deployments/logs.go
  internal/cli/atlas/deployments/options/connect_opts.go
  internal/cli/atlas/deployments/options/connect_opts_local.go
  internal/telemetry/event.go
Owners: @mongodb/mongocli

Set deployment type at deployment type check
  internal/cli/atlas/deployments/options/deployment_opts.go
Owners: @mongodb/mongocli

WIP
  internal/cli/atlas/deployments/delete.go
  internal/cli/atlas/deployments/delete_test.go
  internal/cli/atlas/deployments/list.go
  internal/cli/atlas/deployments/list_test.go
  internal/cli/atlas/deployments/logs.go
  internal/cli/atlas/deployments/options/connect_opts.go
  internal/cli/atlas/deployments/options/deployment_opts.go
  internal/cli/atlas/deployments/options/deployment_opts_telemetry.go
  internal/cli/atlas/deployments/test/fixture/deployment.go
  internal/cli/atlas/deployments/test/fixture/deployment_local.go
  internal/mocks/mock_deployment_opts_telemetry.go
Owners: @mongodb/mongocli

Add more details to error
  internal/convert/time.go
Owners: @mongodb/mongocli

Add validation to orgs and projects events list
  internal/cli/atlas/events/list.go
  internal/cli/atlas/events/orgs_list.go
  internal/cli/atlas/events/projects_list.go
Owners: @mongodb/mongocli

Lint
  internal/cli/atlas/events/list.go
Owners: @mongodb/mongocli

tests: don't delete my profile when testing
  internal/cli/atlas/setup/setup_cmd_test.go
  internal/cli/auth/login.go
  internal/cli/auth/login_test.go
  internal/cli/auth/logout.go
  internal/cli/auth/logout_test.go
  internal/cli/auth/register.go
  internal/cli/auth/register_test.go
  internal/config/profile_test.go
  internal/mocks/mock_login.go
  internal/mocks/mock_logout.go
Owners: @mongodb/mongocli

Update logout_test.go
  internal/cli/auth/logout_test.go
Owners: @mongodb/mongocli

CLOUDP-216631 download streams logs (#2770)
  docs/command/atlas-streams-instances-download.txt
  docs/command/atlas-streams-instances.txt
  internal/cli/atlas/streams/instance/download.go
  internal/cli/atlas/streams/instance/download_test.go
  internal/cli/atlas/streams/instance/instance.go
  internal/cli/atlas/streams/instance/instance_test.go
  internal/mocks/mock_streams.go
  internal/store/streams.go
  test/README.md
  test/e2e/atlas/streams_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

tests: don't delete my profile when testing (#2795)
  internal/cli/atlas/setup/setup_cmd_test.go
  internal/cli/auth/login.go
  internal/cli/auth/login_test.go
  internal/cli/auth/logout.go
  internal/cli/auth/logout_test.go
  internal/cli/auth/register.go
  internal/cli/auth/register_test.go
  internal/config/profile_test.go
  internal/mocks/mock_login.go
  internal/mocks/mock_logout.go
Owners: @mongodb/mongocli

Address comments
  internal/cli/atlas/events/list.go
  internal/cli/atlas/events/list_test.go
  internal/cli/atlas/events/orgs_list.go
  internal/cli/atlas/events/orgs_list_test.go
  internal/cli/atlas/events/projects_list.go
  internal/cli/atlas/events/projects_list_test.go
Owners: @mongodb/mongocli

Lint
  internal/cli/atlas/events/list.go
  internal/cli/atlas/events/list_test.go
  internal/cli/atlas/events/orgs_list.go
  internal/cli/atlas/events/projects_list.go
Owners: @mongodb/mongocli

Address comments
  internal/cli/atlas/events/list.go
  internal/cli/atlas/events/orgs_list.go
  internal/cli/atlas/events/orgs_list_test.go
  internal/cli/atlas/events/projects_list.go
Owners: @mongodb/mongocli

Address comments
  internal/cli/atlas/events/list.go
  internal/cli/atlas/events/list_test.go
  internal/cli/atlas/events/orgs_list.go
  internal/cli/atlas/events/projects_list.go
Owners: @mongodb/mongocli

task: remove kmip leftovers from the CLI split
  build/ci/library_owners.json
  go.mod
  go.sum
  internal/decryption/kmip/client.go
  internal/decryption/pem/pem.go
  internal/decryption/pem/pem_test.go
  internal/decryption/pem/pkcs8.go
Owners: @mongodb/mongocli

task: use the recommended slice initialization
  internal/cli/atlas/datalakepipelines/create.go
  internal/cli/atlas/datalakepipelines/update.go
  internal/cli/atlas/security/ldap/save.go
  internal/cli/atlas/serverless/create.go
  internal/cli/atlas/serverless/update.go
  internal/cli/atlas/setup/cluster_setup.go
  internal/kubernetes/operator/project/project.go
  internal/podman/client.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

Fix e2e test
  test/e2e/atlas/events_test.go
Owners: @mongodb/mongocli

task: use the recommended slice initialization (#2798)
  internal/cli/atlas/datalakepipelines/create.go
  internal/cli/atlas/datalakepipelines/update.go
  internal/cli/atlas/security/ldap/save.go
  internal/cli/atlas/serverless/create.go
  internal/cli/atlas/serverless/update.go
  internal/cli/atlas/setup/cluster_setup.go
  internal/kubernetes/operator/project/project.go
  internal/podman/client.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

CLOUDP-238932: Validate maxDate and minDate before running command (#2794)
  internal/cli/atlas/events/list.go
  internal/cli/atlas/events/list_test.go
  internal/cli/atlas/events/orgs_list.go
  internal/cli/atlas/events/orgs_list_test.go
  internal/cli/atlas/events/projects_list.go
  internal/cli/atlas/events/projects_list_test.go
  internal/convert/time.go
  test/e2e/atlas/events_test.go
Owners: @mongodb/mongocli

Remove unecessary buf print
  internal/cli/atlas/deployments/delete_test.go
Owners: @mongodb/mongocli

remove lower case transformation at telemetry level
  internal/telemetry/event.go
Owners: @mongodb/mongocli

Lower case deploymentType at selection time
  internal/cli/atlas/deployments/options/deployment_opts_select.go
Owners: @mongodb/mongocli

Update AppendDeploymentType
  internal/cli/atlas/deployments/options/deployment_opts_telemetry.go
Owners: @mongodb/mongocli

task: remove kmip leftovers from the CLI split (#2797)
  build/ci/library_owners.json
  go.mod
  go.sum
  internal/decryption/kmip/client.go
  internal/decryption/pem/pem.go
  internal/decryption/pem/pem_test.go
  internal/decryption/pem/pkcs8.go
Owners: @mongodb/mongocli

Use opts telemetry on setup
  internal/cli/atlas/deployments/setup.go
Owners: @mongodb/mongocli

CLOUDP-237254: Set deploymet_type telemetry value in missing atlas deployments commands (#2790)
  internal/cli/atlas/deployments/delete.go
  internal/cli/atlas/deployments/delete_test.go
  internal/cli/atlas/deployments/list.go
  internal/cli/atlas/deployments/list_test.go
  internal/cli/atlas/deployments/options/connect_opts_local.go
  internal/cli/atlas/deployments/options/deployment_opts.go
  internal/cli/atlas/deployments/options/deployment_opts_select.go
  internal/cli/atlas/deployments/options/deployment_opts_telemetry.go
  internal/cli/atlas/deployments/setup.go
  internal/cli/atlas/deployments/test/fixture/deployment.go
  internal/cli/atlas/deployments/test/fixture/deployment_local.go
  internal/mocks/mock_deployment_opts_telemetry.go
Owners: @mongodb/mongocli

Update select to use opts
  internal/cli/atlas/deployments/options/deployment_opts_select.go
Owners: @mongodb/mongocli

task: don't mix pointer and non pointer receivers
  internal/log/log.go
Owners: @mongodb/mongocli

tests: correct error comparison
  internal/cli/atlas/commonerrors/errors_test.go
Owners: @mongodb/mongocli

task: remove config.BinName
  internal/cli/atlas/backup/exports/buckets/create.go
  internal/cli/atlas/backup/exports/jobs/create.go
  internal/cli/auth/login.go
  internal/cli/auth/whoami.go
  internal/cli/config/edit.go
  internal/cli/config/list.go
  internal/cli/config/rename.go
  internal/cli/config/set.go
  internal/cli/refresher_opts.go
  internal/cli/root/atlas/builder.go
  internal/cli/root/atlas/builder_test.go
  internal/config/profile.go
  internal/validate/validate.go
Owners: @mongodb/mongocli
