Repository mongodb/mongodb-atlas-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/mongocli, @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team

.github/CODEOWNERS:

# Maintained by the MongoDB CLI team
*       @mongodb/mongocli

# Docs maintained by Docs Cloud Team
/docs/  @mongodb/docs-cloud-team

/internal/kubernetes/operator/ @mongodb/atlas_kubernetes_team
/internal/cli/atlas/kubernetes/ @mongodb/atlas_kubernetes_team

task: clean some usages of the old sdk (#2711)
  internal/cli/atlas/projects/settings/update.go
  internal/cli/require/require.go
  internal/mocks/mock_project_settings.go
  internal/store/project_settings.go
  test/e2e/atlas/helper_test.go
  test/e2e/helper.go
  test/e2e/iam/helper_test.go
Owners: @mongodb/mongocli

task: some store clean ups from ops manager references
  internal/cli/default_setter_opts.go
  internal/prompt/config.go
  internal/store/atlas/store.go
  internal/store/default_mongodb_version.go
  internal/store/live_migration.go
  internal/store/peering_connections.go
  internal/store/projects.go
  internal/store/serverless_instances.go
  internal/store/store.go
Owners: @mongodb/mongocli

remove some interfaces
  internal/cli/atlas/projects/describe_test.go
  internal/kubernetes/operator/install.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

Fixed linting
  build/ci/library_owners.json
  docs/command/mongocli-auth-login.txt
  docs/command/mongocli-cloud-manager-performanceAdvisor-slowOperationThreshold-disable.txt
  docs/command/mongocli-cloud-manager-performanceAdvisor-slowOperationThreshold-enable.txt
  docs/command/mongocli-cloud-manager-performanceAdvisor-slowOperationThreshold.txt
  docs/command/mongocli-cloud-manager-performanceAdvisor.txt
  docs/command/mongocli-config.txt
  docs/command/mongocli-iam-organizations-apiKeys-accessLists-create.txt
  docs/command/mongocli-iam-projects-create.txt
  docs/command/mongocli-ops-manager-performanceAdvisor-slowOperationThreshold-disable.txt
  docs/command/mongocli-ops-manager-performanceAdvisor-slowOperationThreshold-enable.txt
  docs/command/mongocli-ops-manager-performanceAdvisor-slowOperationThreshold.txt
  docs/command/mongocli-ops-manager-performanceAdvisor.txt
  internal/cli/iam/projects/create.go
  internal/cli/iam/projects/create_test.go
  internal/flag/flags.go
  internal/mocks/mock_projects.go
  internal/store/organization_invitations.go
  internal/store/projects.go
  internal/store/store.go
Owners: @mongodb/mongocli, @mongodb/docs-cloud-team

task: some store clean ups from ops manager references (#2714)
  internal/cli/atlas/projects/describe_test.go
  internal/cli/default_setter_opts.go
  internal/kubernetes/operator/install.go
  internal/prompt/config.go
  internal/store/atlas/store.go
  internal/store/default_mongodb_version.go
  internal/store/live_migration.go
  internal/store/peering_connections.go
  internal/store/projects.go
  internal/store/serverless_instances.go
  internal/store/store.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

fix
  build/package/generate-notices.sh
Owners: @mongodb/mongocli

CLOUDP-231607: update mdb version to 7.0
  internal/cli/atlas/clusters/create_test.go
  internal/cli/atlas/clusters/update_test.go
  test/e2e/atlas/create_cluster_gov_test.json
  test/e2e/atlas/create_cluster_test.json
  test/e2e/atlas/helper_test.go
Owners: @mongodb/mongocli

CLOUDP-231607: update mdb version to 7.0
  test/e2e/atlas/atlas_e2e_test_generator_test.go
  test/e2e/atlas/backup_export_jobs_test.go
  test/e2e/atlas/backup_snapshot_test.go
  test/e2e/atlas/clusters_file_test.go
  test/e2e/atlas/clusters_flags_test.go
  test/e2e/atlas/clusters_sharded_test.go
  test/e2e/atlas/create_cluster_gov_test.json
  test/e2e/atlas/create_cluster_test.json
  test/e2e/atlas/helper_test.go
Owners: @mongodb/mongocli

CLOUDP-231607: update mdb version to 7.0
  test/e2e/atlas/clusters_flags_test.go
Owners: @mongodb/mongocli

Removed notary signing settings
  build/ci/release.yml
Owners: @mongodb/mongocli

Remove fuzz tests (kubernetes only)
  .github/workflows/code-health.yml
  Makefile
Owners: @mongodb/mongocli

unused stores
  internal/mocks/atlas/mock_database_roles.go
  internal/mocks/atlas/mock_encryption_at_rest.go
  internal/mocks/atlas/mock_global_cluster.go
  internal/mocks/atlas/mock_integrations.go
  internal/mocks/atlas/mock_maintenance.go
  internal/mocks/atlas/mock_private_endpoints.go
  internal/mocks/atlas/mock_project_settings.go
  internal/mocks/atlas/mock_serverless_private_endpoints.go
  internal/store/atlas/cloud_provider_backup.go
  internal/store/atlas/database_roles.go
  internal/store/atlas/encryption_at_rest.go
  internal/store/atlas/global_cluster.go
  internal/store/atlas/integrations.go
  internal/store/atlas/maintenance.go
  internal/store/atlas/private_endpoints.go
  internal/store/atlas/project_settings.go
  internal/store/atlas/serverless_private_endpoints.go
  internal/store/atlas/store.go
Owners: @mongodb/mongocli

Delete mock_cloud_provider_backup.go
  internal/mocks/atlas/mock_cloud_provider_backup.go
Owners: @mongodb/mongocli

Update store.go
  internal/store/atlas/store.go
Owners: @mongodb/mongocli

CLOUDP-231607: update mdb version to 7.0 (#2717)
  internal/cli/atlas/clusters/create_test.go
  internal/cli/atlas/clusters/update_test.go
  test/e2e/atlas/atlas_e2e_test_generator_test.go
  test/e2e/atlas/backup_export_jobs_test.go
  test/e2e/atlas/backup_snapshot_test.go
  test/e2e/atlas/clusters_file_test.go
  test/e2e/atlas/clusters_flags_test.go
  test/e2e/atlas/clusters_sharded_test.go
  test/e2e/atlas/create_cluster_gov_test.json
  test/e2e/atlas/create_cluster_test.json
  test/e2e/atlas/helper_test.go
Owners: @mongodb/mongocli

Updated service docs
  docs/command/mongocli-config.txt
  internal/usage/usage.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Got rid of *interface{}
  internal/mocks/mock_automation.go
  internal/mocks/mock_clusters.go
  internal/store/clusters.go
Owners: @mongodb/mongocli

Put --cm flag back
  docs/command/mongocli-auth-login.txt
  internal/cli/auth/login.go
  internal/cli/auth/login_test.go
  internal/cli/auth/register_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

fix: missing ennv for signing
  .github/workflows/docker-release.yml
Owners: @mongodb/mongocli

CLOUDP-234527 Remove MongoCLI 4th followup
  internal/cli/atlas/clusters/clusters.go
  internal/cli/atlas/clusters/clusters_test.go
  internal/cli/atlas/logs/logs.go
  internal/cli/atlas/logs/logs_test.go
Owners: @mongodb/mongocli

more leftovers
  internal/config/profile.go
  internal/config/profile_integration_test.go
Owners: @mongodb/mongocli

fix: missing env for signing (#2724)
  .github/workflows/docker-release.yml
Owners: @mongodb/mongocli

CLOUDP-234527 Remove MongoCLI 4th followup (#2725)
  internal/cli/atlas/clusters/clusters.go
  internal/cli/atlas/clusters/clusters_test.go
  internal/cli/atlas/logs/logs.go
  internal/cli/atlas/logs/logs_test.go
  internal/config/profile.go
  internal/config/profile_integration_test.go
Owners: @mongodb/mongocli

Added logging output + timeout to config e2e test (to make it possible to debug)
  test/e2e/config/config_test.go
Owners: @mongodb/mongocli

test: reduce events flake
  test/e2e/atlas/events_test.go
Owners: @mongodb/mongocli

Get rid of last references to 'cloud'
  build/ci/evergreen.yml
  internal/cli/default_setter_opts_test.go
  internal/config/profile_integration_test.go
  internal/store/store.go
  internal/store/store_test.go
Owners: @mongodb/mongocli

fixes for missing command
  docs/atlascli/command/atlas-events-organizations-list.txt
  internal/cli/atlas/events/list.go
  internal/cli/atlas/events/list_test.go
  internal/cli/atlas/events/orgs_list.go
  internal/cli/atlas/events/orgs_list_test.go
  internal/cli/atlas/events/projects_list.go
  internal/cli/atlas/events/projects_list_test.go
  internal/mocks/mock_events.go
  internal/store/events.go
  test/e2e/atlas/events_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Update orgs_list.go
  internal/cli/atlas/events/orgs_list.go
Owners: @mongodb/mongocli

test: reduce events flake (#2726)
  docs/atlascli/command/atlas-events-organizations-list.txt
  internal/cli/atlas/events/list.go
  internal/cli/atlas/events/list_test.go
  internal/cli/atlas/events/orgs_list.go
  internal/cli/atlas/events/orgs_list_test.go
  internal/cli/atlas/events/projects_list.go
  internal/cli/atlas/events/projects_list_test.go
  internal/mocks/mock_events.go
  internal/store/events.go
  test/e2e/atlas/events_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Made 'auth login' command cloud manager only
  docs/command/mongocli-auth-login.txt
  internal/cli/auth/login.go
  internal/cli/auth/login_test.go
  internal/cli/auth/register_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Update internal/cli/auth/login.go
  internal/cli/auth/login.go
Owners: @mongodb/mongocli

CLOUDP-236358: [mongocli] Make auth login command cloud-manager only (#2727)
  docs/command/mongocli-auth-login.txt
  internal/cli/auth/login.go
  internal/cli/auth/login_test.go
  internal/cli/auth/register_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

Update .goreleaser.yml
  build/package/.goreleaser.yml
Owners: @mongodb/mongocli

fix: disable verifiable build for AtlasCLI (#2728)
  build/package/.goreleaser.yml
Owners: @mongodb/mongocli

CLOUDP-236398: update new version message to remove full stop
  internal/cli/root/atlas/builder.go
  internal/cli/root/atlas/builder_test.go
Owners: @mongodb/mongocli

fixes
  internal/cli/root/atlas/builder.go
  internal/cli/root/atlas/builder_test.go
Owners: @mongodb/mongocli

CLOUDP-236398: update new version message to remove full stop (#2729)
  internal/cli/root/atlas/builder.go
  internal/cli/root/atlas/builder_test.go
Owners: @mongodb/mongocli

fix
  build/package/generate-notices.sh
Owners: @mongodb/mongocli

task: move the time parser to the convert package
  internal/cli/atlas/accesslists/create.go
  internal/cli/atlas/alerts/acknowledge.go
  internal/cli/atlas/alerts/acknowledge_test.go
  internal/cli/atlas/alerts/describe.go
  internal/cli/atlas/alerts/describe_test.go
  internal/cli/atlas/alerts/list.go
  internal/cli/atlas/alerts/list_test.go
  internal/cli/atlas/alerts/unacknowledge.go
  internal/cli/atlas/alerts/unacknowledge_test.go
  internal/cli/atlas/datalakepipelines/availablesnapshots/list.go
  internal/cli/atlas/dbusers/create.go
  internal/cli/atlas/dbusers/update.go
  internal/cli/atlas/deployments/pause_test.go
  internal/cli/atlas/deployments/search/indexes/describe_test.go
  internal/cli/atlas/deployments/search/indexes/list_test.go
  internal/cli/atlas/deployments/start_test.go
  internal/cli/atlas/events/list.go
  internal/cli/atlas/events/orgs_list.go
  internal/cli/atlas/events/projects_list.go
  internal/cli/atlas/networking/peering/create/gcp.go
  internal/cli/atlas/setup/dbuser_setup.go
  internal/cli/metrics_opt.go
  internal/config/profile.go
  internal/convert/database_user.go
  internal/convert/database_user_test.go
  internal/convert/time.go
  internal/convert/time_test.go
  internal/mocks/mock_alerts.go
  internal/pointer/pointer.go
  internal/store/alerts.go
Owners: @mongodb/mongocli

task: unification of the stores part 3
  internal/cli/atlas/backup/compliancepolicy/copyprotection/disable.go
  internal/cli/atlas/backup/compliancepolicy/copyprotection/disable_test.go
  internal/cli/atlas/backup/compliancepolicy/copyprotection/enable.go
  internal/cli/atlas/backup/compliancepolicy/copyprotection/enable_test.go
  internal/cli/atlas/backup/compliancepolicy/describe.go
  internal/cli/atlas/backup/compliancepolicy/describe_test.go
  internal/cli/atlas/backup/compliancepolicy/enable.go
  internal/cli/atlas/backup/compliancepolicy/enable_test.go
  internal/cli/atlas/backup/compliancepolicy/encryptionatrest/disable.go
  internal/cli/atlas/backup/compliancepolicy/encryptionatrest/disable_test.go
  internal/cli/atlas/backup/compliancepolicy/encryptionatrest/enable.go
  internal/cli/atlas/backup/compliancepolicy/encryptionatrest/enable_test.go
  internal/cli/atlas/backup/compliancepolicy/pointintimerestore/enable.go
  internal/cli/atlas/backup/compliancepolicy/pointintimerestore/enable_test.go
  internal/cli/atlas/backup/compliancepolicy/policies/describe.go
  internal/cli/atlas/backup/compliancepolicy/policies/describe_test.go
  internal/cli/atlas/backup/compliancepolicy/policies/ondemand/create.go
  internal/cli/atlas/backup/compliancepolicy/policies/ondemand/create_test.go
  internal/cli/atlas/backup/compliancepolicy/policies/ondemand/describe.go
  internal/cli/atlas/backup/compliancepolicy/policies/ondemand/describe_test.go
  internal/cli/atlas/backup/compliancepolicy/policies/scheduled/create.go
  internal/cli/atlas/backup/compliancepolicy/policies/scheduled/create_test.go
  internal/cli/atlas/backup/compliancepolicy/policies/scheduled/describe.go
  internal/cli/atlas/backup/compliancepolicy/policies/scheduled/describe_test.go
  internal/cli/atlas/backup/compliancepolicy/setup.go
  internal/cli/atlas/backup/compliancepolicy/setup_test.go
  internal/cli/atlas/organizations/apikeys/accesslists/create.go
  internal/cli/atlas/organizations/apikeys/accesslists/create_test.go
  internal/cli/atlas/organizations/apikeys/accesslists/delete.go
  internal/cli/atlas/organizations/apikeys/accesslists/delete_test.go
  internal/cli/atlas/organizations/apikeys/accesslists/list.go
  internal/cli/atlas/organizations/apikeys/accesslists/list_test.go
  internal/mocks/mock_api_keys_access_list.go
  internal/mocks/mock_backup_compliance.go
  internal/store/api_keys_access_list.go
  internal/store/backup_compliance.go
Owners: @mongodb/mongocli
