Repository mongodb/mongodb-atlas-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/mongocli, @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team

fix: tidy me :P
  go.mod
Owners: @mongodb/mongocli

Update go.mod
  go.mod
Owners: @mongodb/mongocli

Update go.mod
  go.mod
Owners: @mongodb/mongocli

Update go.mod
  go.mod
Owners: @mongodb/mongocli

CLOUDP-240677 Update SDK update process to handle minor versions and create jiras
  .github/dependabot.yml
  .github/workflows/autoupdate-sdk.yaml
  scripts/update-sdk.sh
Owners: @mongodb/mongocli

add labels
  .github/workflows/autoupdate-sdk.yaml
Owners: @mongodb/mongocli

fix
  .github/workflows/autoupdate-sdk.yaml
Owners: @mongodb/mongocli

debug
  .github/workflows/autoupdate-sdk.yaml
Owners: @mongodb/mongocli

fix
  .github/workflows/autoupdate-sdk.yaml
Owners: @mongodb/mongocli

fix sed
  scripts/update-sdk.sh
Owners: @mongodb/mongocli

revert update-sdk.sh change
  scripts/update-sdk.sh
Owners: @mongodb/mongocli

fix
  scripts/update-sdk.sh
Owners: @mongodb/mongocli

update base branch for testing
  .github/workflows/autoupdate-sdk.yaml
Owners: @mongodb/mongocli

CLOUDP-241394: Bump Atlas GO SDK to v20231115008.3.0
  go.mod
  go.sum
Owners: @mongodb/mongocli

Revert "debug"
  .github/workflows/autoupdate-sdk.yaml
Owners: @mongodb/mongocli

check if jira was already found
  .github/workflows/autoupdate-sdk.yaml
Owners: @mongodb/mongocli

fix
  .github/workflows/autoupdate-sdk.yaml
Owners: @mongodb/mongocli

fix
  .github/workflows/autoupdate-sdk.yaml
Owners: @mongodb/mongocli

CLOUDP-240677 Update SDK update process to handle minor versions and create jiras (#2825)
  .github/dependabot.yml
  .github/workflows/autoupdate-sdk.yaml
Owners: @mongodb/mongocli

CLOUDP-241402: Bump Atlas GO SDK to v20231115008.4.0
  go.mod
  go.sum
Owners: @mongodb/mongocli

sync fork github action
  .github/workflows/release.yml
  .github/workflows/sync-fork.yml
Owners: @mongodb/mongocli

fix release
  .github/workflows/release.yml
Owners: @mongodb/mongocli

do not sign
  build/package/linux_notarize.sh
  build/package/mac_notarize.sh
  build/package/windows_notarize.sh
Owners: @mongodb/mongocli

add snapshot
  .github/workflows/snapshot.yml
Owners: @mongodb/mongocli

CLOUDP-241161: implement atlas project update command
  docs/command/atlas-projects-update.txt
  docs/command/atlas-projects.txt
  internal/cli/projects/projects.go
  internal/cli/projects/update.go
  internal/cli/projects/update_test.go
  internal/mocks/mock_projects.go
  internal/store/projects.go
  internal/usage/usage.go
  test/e2e/iam/atlas_projects_test.go
  test/e2e/iam/data/update_project_name_and_tags.json
  test/e2e/iam/data/update_project_reset_tags.json
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

CLOUDP-241161: implement atlas project update command
  test/e2e/iam/atlas_projects_test.go
  test/e2e/iam/data/update_project_name_and_tags.json
Owners: @mongodb/mongocli

CLOUDP-241161: implement atlas project update command
  test/e2e/iam/atlas_projects_test.go
Owners: @mongodb/mongocli

CLOUDP-241161: implement atlas project update command
  internal/cli/projects/projects_test.go
Owners: @mongodb/mongocli

Fixed test failure
  test/e2e/atlas/kubernetes_config_generate_test.go
Owners: @mongodb/mongocli

CLOUDP-241161: implement atlas project update command
  docs/command/atlas-projects-update.txt
  internal/cli/projects/update.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

HELP-56667: Fixed e2e k8s test failure (#2835)
  test/e2e/atlas/kubernetes_config_generate_test.go
Owners: @mongodb/mongocli

task: validate import alias via importas (#2804)
  .golangci.yml
  internal/kubernetes/operator/crds/provider.go
  internal/kubernetes/operator/datafederation/datafederation.go
  internal/kubernetes/operator/datafederation/datafederation_test.go
  internal/kubernetes/operator/dbusers/dbusers.go
  internal/kubernetes/operator/dbusers/dbusers_test.go
  internal/kubernetes/operator/deployment/deployment.go
  internal/kubernetes/operator/deployment/deployment_test.go
  internal/kubernetes/operator/features/crds.go
  internal/kubernetes/operator/features/crds_test.go
  internal/kubernetes/operator/features/patcher.go
  internal/kubernetes/operator/features/patcher_test.go
  internal/kubernetes/operator/install_resources.go
  internal/kubernetes/operator/project/project.go
  internal/kubernetes/operator/project/project_test.go
  internal/kubernetes/operator/secrets/secrets.go
  test/e2e/atlas/kubernetes_config_apply_test.go
  test/e2e/atlas/kubernetes_config_generate_test.go
  test/e2e/atlas/kubernetes_operator_install_test.go
Owners: @mongodb/mongocli, @mongodb/atlas_kubernetes_team

CLOUDP-240399 Checksum for the Atlas CLI is missing .msi for Windows
  build/package/.goreleaser.yml
Owners: @mongodb/mongocli

CLOUDP-240399 Checksum for the Atlas CLI is missing .msi for Windows (#2836)
  build/package/.goreleaser.yml
Owners: @mongodb/mongocli

Update internal/cli/projects/update.go
  internal/cli/projects/update.go
Owners: @mongodb/mongocli

Update internal/cli/projects/update.go
  internal/cli/projects/update.go
Owners: @mongodb/mongocli

CLOUDP-241161: implement atlas project update command
  internal/cli/projects/update.go
  internal/usage/usage.go
Owners: @mongodb/mongocli

CLOUDP-241161: implement atlas project update command
  docs/command/atlas-projects-update.txt
  internal/cli/projects/update.go
  internal/cli/projects/update_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

task: update libs and go toolchain
  .tool-versions
  Makefile
  build/ci/evergreen.yml
  build/ci/release.yml
  go.mod
  go.sum
Owners: @mongodb/mongocli

CLOUDP-241161: implement atlas project update command
  internal/cli/projects/update.go
  internal/cli/projects/update_test.go
Owners: @mongodb/mongocli

.github/CODEOWNERS:

# Maintained by the MongoDB CLI team
*       @mongodb/mongocli

# Docs maintained by Docs Cloud Team
/docs/  @mongodb/docs-cloud-team

/internal/kubernetes/operator/ @mongodb/atlas_kubernetes_team
/internal/cli/atlas/kubernetes/ @mongodb/atlas_kubernetes_team
