Repository mongodb/mongodb-atlas-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mongodb/mongocli, @mongodb/docs-cloud-team, @mongodb/atlas_kubernetes_team

.github/CODEOWNERS:

# Maintained by the MongoDB Atlas CLI team
*       @mongodb/mongocli

# Docs maintained by Docs Cloud Team
/docs/  @mongodb/docs-cloud-team

/internal/kubernetes/operator/ @mongodb/atlas_kubernetes_team
/internal/cli/atlas/kubernetes/ @mongodb/atlas_kubernetes_team

CLOUDP-261495: Bump CLI to Atlas Operator 2.4.0 (#3116)
  docs/command/atlas-kubernetes-config-generate.txt
  go.mod
  go.sum
  internal/kubernetes/operator/config_exporter_test.go
  internal/kubernetes/operator/features/crds.go
  internal/kubernetes/operator/streamsprocessing/streamsprocessing_test.go
  test/e2e/atlas/kubernetes_config_generate_test.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli, @mongodb/atlas_kubernetes_team

fix for nil pointer
  internal/kubernetes/operator/project/project.go
Owners: @mongodb/atlas_kubernetes_team

added integration tests for search index update
  internal/cli/deployments/search/indexes/update_test.go
Owners: @mongodb/mongocli

issue solver
  Makefile
Owners: @mongodb/mongocli

CLOUDP-262479: Missing target for install in the makefile (#3118)
  Makefile
Owners: @mongodb/mongocli

change use of install cmd
  internal/cli/plugin/install.go
Owners: @mongodb/mongocli

remove doc
  docs/command/atlas-plugin-install.txt
Owners: @mongodb/docs-cloud-team

change use
  docs/command/atlas-plugin-install.txt
  internal/cli/plugin/install.go
Owners: @mongodb/docs-cloud-team, @mongodb/mongocli

add docs for plugin install
  internal/cli/plugin/install.go
Owners: @mongodb/mongocli

fix docker not found error message + hard dependency to podman in post run
  internal/cli/deployments/list_test.go
  internal/cli/deployments/options/deployment_opts_post_run.go
  internal/cli/deployments/pause_test.go
  internal/cli/deployments/start_test.go
  internal/container/container.go
  internal/container/docker.go
  internal/container/podman.go
Owners: @mongodb/mongocli
