Repository mongodb/mongodb-atlas-cli, pull requests merged in 2024-10, with the labels that each got.

#3231 CLOUDP-269965: [Atlas CLI] Documentation needs to be updated for some commands
  docs/command/atlas-accessLogs-list.txt
  docs/command/atlas-dataFederation-queryLimits-list.txt
  internal/cli/accesslogs/list.go
  internal/cli/datafederation/querylimits/list.go
  internal/cli/datalakepipelines/availableschedules/list.go
  internal/cli/datalakepipelines/availablesnapshots/list.go
  internal/cli/datalakepipelines/runs/list.go
  internal/cli/search/nodes/list.go
Labels: need-doc-review

#3331 chore: update labeler mongocli
  .github/labeler.yaml
  .github/workflows/labeler.yaml
Labels: mongocli

#3332 CLOUDP-279475: bump ops manager client version
  go.mod
  go.sum
Labels: mongocli

#3352 CLOUDP-279508 Add atlascli label
  .github/labeler.yaml
Labels: atlascli

#3354 CLOUDP-200470 Quote connection string
  internal/cli/deployments/setup.go
Labels: atlascli

#3355 CLOUDP-276101 "atlas deployments setup" simplify progress message
  internal/cli/deployments/setup.go
Labels: atlascli

#3353 CLOUDP-281885: atlas_cleanup_e2e fails
  test/e2e/atlas/atlas_e2e_test_generator_test.go
Labels: atlascli

#3358 CLOUDP-279322 Error: currently there are no deployments when atlas deployments are present
  internal/cli/deployments/options/deployment_opts_pre_run.go
Labels: atlascli
