Repository mongodb/mongodb-atlas-cli, pull requests merged in 2024-12, with the labels that each got.

#3425 chore: add e2e coverage
  .gitignore
  Makefile
  build/ci/evergreen.yml
  build/ci/library_owners.json
  build/ci/merge-cov.sh
  cov/.gitkeep
  go.mod
  go.sum
  tools/otel/main.go
Labels: atlascli

#3433 fix: periodic builds not running
  build/ci/evergreen.yml
Labels: atlascli

#3434 Added write permissions to code-health workflow
  .github/workflows/code-health.yml
Labels: atlascli

#3447 chore: Minor improvements to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: atlascli

#3408 CLOUDP-285714: Remove apiKey field from PagerDuty Atlas CLI
  internal/cli/alerts/settings/validator.go
Labels: atlascli

#3449 chore: update code-coverage to use apix-bot and make sticky comments
  .github/workflows/code-health.yml
Labels: atlascli

#3451 CLOUDP-288306: Stop ignoring flags that were not supported
  internal/cli/deployments/setup.go
  test/e2e/atlas/deployments_atlas_test.go
Labels: atlascli

#3453 CLOUDP-280747: Build a layer to handle --format
  docs/command/atlas-clusters-create.txt
  internal/api/executor.go
  internal/api/formatter.go
  internal/api/formatter_test.go
  internal/api/httprequest.go
  internal/api/httprequest_test.go
  internal/api/interface.go
  internal/cli/api/api.go
  internal/cli/api/command_request.go
  internal/cli/api/command_request_test.go
Labels: need-doc-review

#3460 CLOUDP-287331: [cli plugins] improve windows support
  build/ci/library_owners.json
  go.mod
  go.sum
  internal/cli/plugin/first_class.go
  internal/cli/plugin/install.go
  internal/cli/plugin/plugin_github_asset.go
  internal/cli/plugin/plugin_github_asset_test.go
  internal/cli/plugin/update.go
Labels: atlascli

#3462 CLOUDP-287349 Consolidate cli.PerformanceAdvisorOpts flags
  internal/cli/performance_advisor_opts.go
  internal/cli/performanceadvisor/namespaces/list.go
  internal/cli/performanceadvisor/slowquerylogs/list.go
  internal/cli/performanceadvisor/suggestedindexes/list.go
Labels: atlascli

#3463 CLOUDP-288455 Atlas CLI shows error message when connecting to deployment through Compass
  internal/compass/compass.go
Labels: atlascli

#3466 CLOUDP-287343 Consolidate cli.ListOpts flags
  internal/cli/accesslists/list.go
  internal/cli/alerts/list.go
  internal/cli/alerts/settings/list.go
  internal/cli/backup/exports/buckets/list.go
  internal/cli/backup/exports/jobs/list.go
  internal/cli/backup/restores/list.go
  internal/cli/backup/snapshots/list.go
  internal/cli/clusters/list.go
  internal/cli/clusters/onlinearchive/list.go
  internal/cli/customdbroles/list.go
  internal/cli/datalakepipelines/availablesnapshots/list.go
  internal/cli/dbusers/list.go
  internal/cli/events/list.go
  internal/cli/events/orgs_list.go
  internal/cli/events/projects_list.go
  internal/cli/federatedauthentication/federationsettings/connectedorgsconfigs/list.go
  internal/cli/federatedauthentication/federationsettings/identityprovider/list.go
  internal/cli/list_opts.go
  internal/cli/metrics/databases/describe.go
  internal/cli/metrics/databases/list.go
  internal/cli/metrics/disks/describe.go
  internal/cli/metrics/disks/list.go
  internal/cli/metrics/processes/processes.go
  internal/cli/networking/containers/list.go
  internal/cli/networking/peering/list.go
  internal/cli/organizations/apikeys/accesslists/list.go
  internal/cli/organizations/apikeys/list.go
  internal/cli/organizations/list.go
  internal/cli/organizations/users/list.go
  internal/cli/privateendpoints/aws/list.go
  internal/cli/privateendpoints/azure/list.go
  internal/cli/privateendpoints/datalake/aws/list.go
  internal/cli/privateendpoints/gcp/list.go
  internal/cli/privateendpoints/list.go
  internal/cli/processes/list.go
  internal/cli/projects/apikeys/list.go
  internal/cli/projects/list.go
  internal/cli/projects/teams/list.go
  internal/cli/projects/users/list.go
  internal/cli/search/list.go
  internal/cli/serverless/backup/restores/list.go
  internal/cli/serverless/backup/snapshots/list.go
  internal/cli/serverless/list.go
  internal/cli/streams/instance/list.go
  internal/cli/teams/list.go
Labels: atlascli

#3468 fix: compile
  internal/cli/metrics/databases/describe.go
Labels: atlascli

#3481 feat: include output format in telemetry
  internal/telemetry/event.go
  internal/telemetry/event_test.go
  internal/telemetry/tracker.go
Labels: atlascli

#3485 CLOUDP-290831 Fix suse15 tests
  build/package/docker/repo/suse15.Dockerfile
Labels: atlascli

#3489 CLOUDP-291067: upgrade x/net to fix security vulnerability
  go.mod
  go.sum
Labels: atlascli

#3484 CLOUDP-285951: add support for flex clusters to `atlas backup restores start`
  docs/command/atlas-backups-restores-start.txt
  internal/cli/backup/restores/start.go
  internal/cli/backup/restores/start_test.go
Labels: need-doc-review

#3491 Make plugin support more flexible
  internal/cli/plugin/plugin_github_asset.go
  internal/cli/plugin/plugin_github_asset_test.go
Labels: atlascli

#3492 CLOUDP-285954: deprecate serverless commands
  docs/command/atlas-serverless-backups-restores-create.txt
  docs/command/atlas-serverless-backups-restores-describe.txt
  docs/command/atlas-serverless-backups-restores-list.txt
  docs/command/atlas-serverless-backups-restores-watch.txt
  docs/command/atlas-serverless-backups-restores.txt
  docs/command/atlas-serverless-backups-snapshots-describe.txt
  docs/command/atlas-serverless-backups-snapshots-list.txt
  docs/command/atlas-serverless-backups-snapshots-watch.txt
  docs/command/atlas-serverless-backups-snapshots.txt
  docs/command/atlas-serverless-backups.txt
  docs/command/atlas-serverless-create.txt
  docs/command/atlas-serverless-delete.txt
  docs/command/atlas-serverless-describe.txt
  docs/command/atlas-serverless-list.txt
  docs/command/atlas-serverless-update.txt
  docs/command/atlas-serverless-watch.txt
  docs/command/atlas-serverless.txt
  docs/command/atlas.txt
  internal/cli/serverless/backup/backup.go
  internal/cli/serverless/backup/restores/create.go
  internal/cli/serverless/backup/restores/describe.go
  internal/cli/serverless/backup/restores/list.go
  internal/cli/serverless/backup/restores/restores.go
  internal/cli/serverless/backup/restores/watch.go
  internal/cli/serverless/backup/snapshots/describe.go
  internal/cli/serverless/backup/snapshots/list.go
  internal/cli/serverless/backup/snapshots/snapshots.go
  internal/cli/serverless/backup/snapshots/watch.go
  internal/cli/serverless/create.go
  internal/cli/serverless/delete.go
  internal/cli/serverless/describe.go
  internal/cli/serverless/list.go
  internal/cli/serverless/serverless.go
  internal/cli/serverless/update.go
  internal/cli/serverless/watch.go
Labels: need-doc-review

#3495 CLOUDP-284785: Migrate to Snyk CLI
  build/ci/evergreen.yml
  build/ci/snyk.yml
Labels: atlascli

#3494 CLOUDP-285956 Update AtlasCLI commands with the --tier flag to print a warning message to stderr whenever M2 or M5 tier values are specified, indicating that these values are deprecated and will be removed in a future release.
  docs/command/atlas-clusters-create.txt
  internal/cli/clusters/availableregions/list.go
  internal/cli/clusters/clusters.go
  internal/cli/clusters/create.go
  internal/cli/clusters/update.go
  internal/cli/deployments/setup.go
  internal/cli/setup/setup_cmd.go
Labels: need-doc-review

#3497 CLOUDP-284785: Migrate to Snyk CLI
  build/ci/snyk.yml
Labels: atlascli

#3500 CLOUDP-284785: moved snyk code to main file
  build/ci/evergreen.yml
  build/ci/snyk.yml
Labels: atlascli

#3498 CLOUDP-283291: Support export private endpoint custom resource
  docs/command/atlas-kubernetes-config-generate.txt
  go.mod
  go.sum
  internal/kubernetes/operator/config_exporter.go
  internal/kubernetes/operator/features/crds.go
  internal/kubernetes/operator/project/privateendpoints.go
  internal/kubernetes/operator/project/privateendpoints_test.go
  internal/kubernetes/operator/project/project.go
  internal/kubernetes/operator/project/project_test.go
  internal/mocks/mock_atlas_generic_store.go
  internal/mocks/mock_atlas_operator_private_endpoint_store.go
  internal/mocks/mock_atlas_operator_project_store.go
  internal/store/operator.go
  test/e2e/atlas/atlas_e2e_test_generator_test.go
  test/e2e/atlas/kubernetes_config_generate_test.go
Labels: need-doc-review, atlascli

#3509 CLOUDP-291947: fix template error with `backup restore get`
  internal/cli/backup/restores/describe.go
Labels: atlascli

#3510 CLOUDP-292067: fix bug on cluster commands when getting the projectId
  internal/cli/clusters/create.go
  internal/cli/clusters/delete.go
  internal/cli/clusters/update.go
  internal/cli/clusters/upgrade.go
Labels: atlascli
