Repository mongodb/mongodb-atlas-cli, pull requests merged in 2025-07, with the labels that each got.

#4021 CLOUDP-328661: update papertrail submitter
  build/ci/release.yml
Labels: atlascli

#4023 CLOUDP-326352: Fixes backup commands to fallback to flex if not found
  internal/cli/backup/restores/describe.go
  internal/cli/backup/restores/describe_test.go
  internal/cli/backup/restores/list.go
  internal/cli/backup/restores/list_test.go
  internal/cli/backup/restores/restores.go
  internal/cli/backup/restores/watch.go
  internal/cli/backup/snapshots/describe.go
  internal/cli/backup/snapshots/describe_test.go
  internal/cli/backup/snapshots/list.go
  internal/cli/backup/snapshots/list_test.go
  internal/cli/backup/snapshots/snapshots.go
  internal/cli/backup/snapshots/watch.go
Labels: atlascli

#4028 CLOUDP-329196: update doc links to new format - part 2
  docs/command/atlas-api.txt
  docs/command/atlas-federatedAuthentication-federationSettings-connectedOrgConfigs-update.txt
  docs/command/atlas-organizations-apiKeys-assign.txt
  docs/command/atlas-organizations-apiKeys-create.txt
  docs/command/atlas-organizations-create.txt
  docs/command/atlas-projects-apiKeys-assign.txt
  docs/command/atlas-projects-apiKeys-create.txt
  internal/cli/api/api.go
  internal/usage/usage.go
  tools/cmd/api-generator/string.go
  tools/cmd/api-generator/string_test.go
  tools/cmd/api-generator/testdata/fixtures/08-watchers.yaml
Labels: need-doc-review, atlascli

#4034 CLOUDP-329791: Refactor auth check
  internal/cli/root/builder.go
  internal/store/store.go
  internal/transport/transport.go
  test/e2e/brew/brew_test.go
Labels: atlascli

#4035 Revert "CLOUDP-329791: Refactor auth check"
  internal/cli/root/builder.go
  internal/store/store.go
  internal/transport/transport.go
  test/e2e/brew/brew_test.go
Labels: atlascli

#4038 CLOUDP-330675: Reworks `atlas auth login` flow
  docs/command/atlas-auth-login.txt
  internal/cli/auth/login.go
  internal/cli/auth/login_mock_test.go
  internal/cli/auth/login_test.go
  internal/cli/auth/register.go
  internal/telemetry/ask.go
Labels: need-doc-review

#4056 CLOUDP-333673 AtlasCLI command `atlas backup restore watch` does not return errors
  internal/cli/backup/exports/jobs/watch.go
  internal/cli/backup/restores/watch.go
  internal/cli/backup/restores/watch_test.go
  internal/cli/backup/snapshots/watch.go
Labels: atlascli

#4064 CLOUDP-279514 Detect and block breaking changes
  .github/workflows/breaking-changes.yaml
  .github/workflows/close-jira.yml
  scripts/add-copy.sh
  tools/cmd/breakvalidator/generate.go
  tools/cmd/breakvalidator/generate_test.go
  tools/cmd/breakvalidator/main.go
  tools/cmd/breakvalidator/validate.go
  tools/cmd/breakvalidator/validate_test.go
Labels: atlascli

#4067 CLOUDP-279514 fix Detect and block breaking changes
  .github/workflows/breaking-changes.yaml
  tools/cmd/breakvalidator/main.go
Labels: atlascli

#4069 CLOUDP-324670 move coverage to coveralls.io
  .github/workflows/code-health.yml
  Makefile
  README.md
Labels: atlascli

#4057 CLOUDP-333877: create stub for atlas cli commands streams workspaces and streams workspaces create
  internal/cli/streams/instance/create.go
  internal/cli/streams/instance/create_test.go
  internal/cli/streams/instance/workspaces.go
  internal/flag/flags.go
  internal/usage/usage.go
Labels: atlascli
