Repository mongodb/mongodb-atlas-cli, pull requests merged in 2025-08, with the labels that each got.

#4072 fix: pre-commit hook with unit tests
  scripts/pre-commit.sh
Labels: atlascli

#4073 chore: create jira with failed snapshot tests
  .github/workflows/update-e2e-tests.yml
Labels: atlascli

#4090 CLOUDP-329787: Make Service Account transport available in httpClient()
  docs/command/atlas-setup.txt
  internal/cli/auth/whoami.go
  internal/cli/commonerrors/errors.go
  internal/cli/setup/setup_cmd.go
  internal/mocks/mock_store.go
  internal/store/store.go
  internal/store/store_test.go
Labels: need-doc-review

#4095 CLOUDP-336027 fix search nodes tests
  test/e2e/atlas/search_nodes/searchnodes/search_nodes_test.go
Labels: atlascli

#4098 CLOUDP-336714: [AtlasCLI] atlas_deployments_local_nocli_e2e fails
  internal/cli/deployments/diagnostics.go
Labels: atlascli

#4100 CLOUDP-336555 Failed Test: mongodb-atlas-cli-master-TestMain/atlas_backups_flex_e2e/e2e_atlas_backups
  build/ci/evergreen.yml
Labels: atlascli

#4104 Revert "CLOUDP-333260: Delete api key from profile on logout (#4094)"
  internal/cli/auth/logout.go
  internal/cli/auth/logout_mock_test.go
  internal/cli/auth/logout_test.go
Labels: atlascli

#4103 refactor: move env vars from tests into one place
  .github/workflows/update-e2e-tests.yml
  CONTRIBUTING.md
  Makefile
  build/ci/evergreen.yml
  test/e2e/atlas/backup/exports/buckets/backupexportbuckets/backup_export_buckets_test.go
  test/e2e/atlas/backup/exports/jobs/backupexportjobs/backup_export_jobs_test.go
  test/e2e/atlas/backup/flex/backupflex/backup_flex_test.go
  test/e2e/atlas/datafederation/db/datafederationdb/data_federation_db_test.go
  test/e2e/atlas/datafederation/querylimits/datafederationquerylimit/data_federation_query_limit_test.go
  test/e2e/atlas/decrypt/decryptionaws/decryption_aws_test.go
  test/e2e/atlas/decrypt/decryptionazure/decryption_azure_test.go
  test/e2e/atlas/decrypt/decryptiongcp/decryption_gcp_test.go
  test/e2e/atlas/decrypt/decryptionlocalkey/decryption_localkey_test.go
  test/e2e/atlas/deployments/atlasclusters/deploymentsatlas/deployments_atlas_test.go
  test/e2e/atlas/deployments/atlasclusters/deploymentsatlas/deployments_atlas_test_iss.go
  test/e2e/atlas/deployments/local/auth/deprecated/deploymentslocalauthindexdeprecated/deployments_local_auth_index_deprecated_test.go
  test/e2e/atlas/deployments/local/auth/new/deploymentslocalauth/deployments_local_auth_test.go
  test/e2e/atlas/deployments/local/noauth/deploymentslocalnoauth/deployments_local_noauth_test.go
  test/e2e/atlas/deployments/local/nocli/deploymentslocalnocli/deployments_local_nocli_test.go
  test/e2e/atlas/deployments/local/seed/deploymentslocalseedfail/deployments_local_seed_fail_test.go
  test/e2e/atlas/generic/dbusers/dbusers_test.go
  test/internal/atlas_e2e_test_generator.go
  test/internal/cleanup_test.go
  test/internal/env.go
Labels: atlascli

#4114 CLOUDP-337035 Failed to update test snapshots
  .github/workflows/update-e2e-tests.yml
Labels: atlascli, update-snapshots

#4134 fix: fix cleanup task
  test/internal/cleanup_test.go
Labels: atlascli

#4138 fix: minor fixes to add-e2e-profiles
  scripts/add-e2e-profiles.sh
Labels: atlascli
