Repository mongodb/mongodb-atlas-cli, pull requests merged in 2025-06, with the labels that each got.

#3932 fix snapshots for api-generation
  tools/cmd/api-generator/convert_commands.go
  tools/cmd/api-generator/main.go
  tools/cmd/api-generator/main_test.go
Labels: atlascli

#3946 CLOUDP-322905: Fix `update-compliance-report` GitHub action
  .github/workflows/update-ssdlc-report.yaml
Labels: atlascli

#3935 CLOUDP-316920: Generate PURLs for windows and darwin os
  .github/workflows/generate-augmented-sbom.yml
  Makefile
  build/package/gen-ssdlc-report.sh
  build/package/purls.txt
Labels: atlascli, compliance

#3951 CLOUDP-319569: [Local Dev] Container fails to start (intermittently); docker compose, TestContainers & GitHub Actions
  Dockerfile
Labels: atlascli

#3961 CLOUDP-323575: Add support to autoScalingMode in atlas clusters create
  build/ci/evergreen.yml
  docs/command/atlas-clusters-create.txt
  internal/cli/clusters/clusters.go
  internal/cli/clusters/clusters_test.go
  internal/cli/clusters/create.go
  internal/cli/clusters/create_mock_test.go
  internal/cli/clusters/create_test.go
  internal/file/file.go
  test/e2e/alertsettings/96_alerts.json
  test/e2e/clustersiss/clusters_iss_test.go
  test/e2e/clustersissfile/clusters_iss_file_test.go
  test/e2e/clustersissfile/testdata/create_iss_cluster_test.json
  test/e2e/testdata/.snapshots/TestISSClustersFile/Create_ISS_Cluster_via_file/POST_api_atlas_v2_groups_b0123456789abcdef012345b_clusters_1.snaphost
  test/e2e/testdata/.snapshots/TestISSClustersFile/Delete_ISS_Cluster_-_created_via_file/DELETE_api_atlas_v2_groups_b0123456789abcdef012345b_clusters_cluster-654_1.snaphost
  test/e2e/testdata/.snapshots/TestISSClustersFile/Delete_ISS_Cluster_-_created_via_file/GET_api_atlas_v2_groups_b0123456789abcdef012345b_clusters_cluster-654_1.snaphost
  test/e2e/testdata/.snapshots/TestISSClustersFile/Delete_ISS_Cluster_-_created_via_file/GET_api_atlas_v2_groups_b0123456789abcdef012345b_clusters_cluster-654_2.snaphost
  test/e2e/testdata/.snapshots/TestISSClustersFile/memory.json
  test/e2e/testdata/.snapshots/TestIndependendShardScalingCluster/Create_ISS_cluster/GET_api_atlas_v2_groups_b0123456789abcdef012345b_clusters_cluster-675_1.snaphost
  test/e2e/testdata/.snapshots/TestIndependendShardScalingCluster/Create_ISS_cluster/GET_api_atlas_v2_groups_b0123456789abcdef012345b_clusters_cluster-675_2.snaphost
  test/e2e/testdata/.snapshots/TestIndependendShardScalingCluster/Create_ISS_cluster/POST_api_atlas_v2_groups_b0123456789abcdef012345b_clusters_1.snaphost
  test/e2e/testdata/.snapshots/TestIndependendShardScalingCluster/DELETE_api_atlas_v2_groups_68499b47379e4840f4c5c7f3_1.snaphost
  test/e2e/testdata/.snapshots/TestIndependendShardScalingCluster/Delete_ISS_cluster/DELETE_api_atlas_v2_groups_b0123456789abcdef012345b_clusters_cluster-675_1.snaphost
  test/e2e/testdata/.snapshots/TestIndependendShardScalingCluster/Delete_ISS_cluster/GET_api_atlas_v2_groups_b0123456789abcdef012345b_clusters_cluster-675_1.snaphost
  test/e2e/testdata/.snapshots/TestIndependendShardScalingCluster/Delete_ISS_cluster/GET_api_atlas_v2_groups_b0123456789abcdef012345b_clusters_cluster-675_2.snaphost
  test/e2e/testdata/.snapshots/TestIndependendShardScalingCluster/GET_api_atlas_v2_groups_68499b47379e4840f4c5c7f3_clusters_provider_regions_1.snaphost
  test/e2e/testdata/.snapshots/TestIndependendShardScalingCluster/GET_api_private_unauth_nds_defaultMongoDBMajorVersion_1.snaphost
  test/e2e/testdata/.snapshots/TestIndependendShardScalingCluster/POST_api_atlas_v2_groups_1.snaphost
  test/e2e/testdata/.snapshots/TestIndependendShardScalingCluster/memory.json
  test/internal/helper.go
Labels: need-doc-review

#3978 CLOUDP-325349: fix atlas_clusters_iss_e2e
  build/ci/evergreen.yml
Labels: atlascli

#3968 updating copybara config
  build/ci/copy.bara.sky.template
Labels: atlascli

#3982 CLOUDP-324051: customize L2 cluster commands to specify that users sh…
  internal/cli/commonerrors/errors.go
  internal/cli/commonerrors/errors_test.go
Labels: atlascli

#3981 CLOUDP-322616: add telemetry property
  internal/cli/clusters/clusters.go
  internal/cli/clusters/describe.go
  internal/cli/deployments/options/deployment_opts.go
  internal/cli/deployments/options/deployment_opts_telemetry.go
  internal/cli/deployments/pause.go
  internal/cli/deployments/pause_test.go
  internal/cli/deployments/start.go
  internal/cli/deployments/start_test.go
  internal/mocks/mock_deployment_opts_telemetry.go
  internal/telemetry/event.go
  internal/telemetry/event_test.go
Labels: atlascli

#3988 CLOUDP-288862: Unpin SDK in backup
  internal/cli/backup/restores/start.go
  internal/cli/backup/restores/start_mock_test.go
Labels: atlascli
